<div class="left_area">
	<div id="user_data" class="personal_data"> 
		<div class="personal_data_image">
			<img :src="user_photo" >
		</div>
		<div class="personal_data_info">
			<p class="text_24">{{ user_name }}的課表</p>
			<p class="text_16 text_dark">目前已排課 {{ credit_count }} 學分</p>
		</div>
	</div>
	<div id="quick_search" class="quick_search"> 
          <!-- todo: 新增：查無結果的顯示 -->
		<div class="block_title">
			<p class="text_18 "> {{ title_text }} </p>
		</div>
		<div class="quick_search_area" :class="{ filter_mode: filter_status }"  @click="clearFilter">
			<div v-if="filter_status" class="quick_search_clear_filter"></div>
			<input class="quick_search_input" type="text" v-model="keyword" :disabled="filter_status || class_table_locked" :class="{ locked: class_table_locked }" placeholder="輸入「課程名」或「教師名」" ><br>
		</div>
		<div v-if="keyword.replace(' ','') != '' && !filter_status" class="quick_search_dropdown">
			<span> {{ result }} </span>
			<result-list-item v-for="item in result_cont" :class_item="item"></result-list-item>
		</div>
	</div>
	<div id="wishlist_in_table" class="wishlist"> 
		<div class="block_title">
			<p class="text_18">願望清單（{{ wishlist_cont.length }}） </p>
		</div>
		<div class="wishlist_cont" :class="{ locked: class_table_locked }" >
			<wishlist-item v-for="item in wishlist_cont" :class_item="item"></wishlist-item>
		</div>
	</div>
</div>

<div class="right_area">
	<div id="class_table" class="class_table" :class="{ locked: class_table_locked }">
		<div class="class_table_title">
			<div class="class_table_title_cell left">　</div>
			<div class="class_table_title_cell"><p class="text_18">Mon</p></div>
			<div class="class_table_title_cell"><p class="text_18">Tue</p></div>
			<div class="class_table_title_cell"><p class="text_18">Wed</p></div>
			<div class="class_table_title_cell"><p class="text_18">Thu</p></div>
			<div class="class_table_title_cell"><p class="text_18">Fri</p></div>
		</div>
		<div class="class_table_cont">
			<div class="class_table_cont_row left">
				<div class="class_table_cont_cell"><p class="text_18 round">1</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">2</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">3</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">4</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">N</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">5</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">6</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">7</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">8</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">9</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">A</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">B</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">C</p></div>
				<div class="class_table_cont_cell"><p class="text_18 round">D</p></div>
				<div class="class_table_cont_cell"><p class="text_18">其他</p></div>
			</div>
			<div class="class_table_cont_row">
				<class-table-cell v-for="item in monday" :cell_data="item" :day="'monday'"></class-table-cell>
			</div>
			<div class="class_table_cont_row">
				<class-table-cell v-for="item in tuesday" :cell_data="item" :day="'tuesday'"></class-table-cell>
			</div>
			<div class="class_table_cont_row">
				<class-table-cell v-for="item in wednesday" :cell_data="item" :day="'wednesday'"></class-table-cell>
			</div>
			<div class="class_table_cont_row">
				<class-table-cell v-for="item in thursday" :cell_data="item" :day="'thursday'"></class-table-cell>
			</div>
			<div class="class_table_cont_row">
				<class-table-cell v-for="item in friday" :cell_data="item" :day="'friday'"></class-table-cell>
			</div>
		</div>
	</div>
</div>

<div id="fixed_button_table" class="fixed_button_area" :class="{ locked: class_table_locked }">
	<div class="major_button" :class="[{ deep_blue_edit: class_table_locked },{ red_done: !class_table_locked }]" @click="switchLockStatus"></div>
	<div class="minor_button dark_cancel" @click="switchLockStatus"></div>
</div>