div.course__whole         
  div.courseList__sidenav#courseFilter(:class="{ on: mobile_status == 'drop' }")
    div.courseList__sidenav__deptChoose
      div.block_title
        p.text_18 開課單位
      div.quick_search_area(style="z-index:300")
        input#dpmtFilter.quick_search_input(type="text" v-model="keyword" @input="handle_input($event)" placeholder="選擇「開課單位」" autocomplete="off") 
        div.quick_search_dropdown--course(v-if="keyword.replace(' ','') != ''")
          p.quick_search_dropdown--course__no_result.text_dark(v-if="!search_result.length") 查無此關鍵字結果。
          div(v-for="(result, index) in search_result").search_result--course
            div(@click="result_click(index)")
              p {{result.prefix}} {{result.name}}
    div#courseArrange.courseList__sidenav__courseType
      div.block_title
        p.text_18.desktop_only 檢視選項
        p.text_16.mobile_only 檢視
      div.quick_search_area
        label.quick_search_custom 
          input#commentCheck(type="checkbox" @click="comment_filter()")
          span.checkmark
          span 僅顯示有心得之課程
    div.wishlist.courseList__sidenav__wishList.in_course
      div.block_title
        p.text_18 願望清單（{{ wishlist_cont.length }}）
      div.wishlist_cont
        p.wishlist_cont__no_result.text_dark(v-if="!wishlist_cont.length") 尚未新增任何課程進入願望清單。
        div.list_course_item(v-for="item in wishlist_cont" style="justify-content:none")
          div.list_course_item_left
            p.list_course_item_category.text_20.text_white.clickable(:class="item.dept_id" @click="deleteItem(item.id)") {{ item.category }}
          div.list_course_item_mid
            p.list_course_item_title.text_16 {{ item.dept_id }}-{{ item.class_id }} {{ item.title }}
            p.list_course_item_description.text_14.text_dark {{ item.teacher }} — {{ item.time }}
          div.list_course_item_right 
      div.quick_search_custom.quick_search_custom--btn(@click="opentabletab()")
        img(src="./dist/images/course/arrange.svg")
        p 加入完成，開始安排課表！
  div#courseDarkScreen.flex-container.dark_screen.mobile_only(v-if="mobile_status == 'drop'")
  div.flex-container.courseList__sideList
    div.card.courseList__sideList__itemBox#courseList
      div#course_item(v-on:scroll="handleScroll")
        div.list_course_item.blank_for_mobile.mobile_only
        div.list_course_item(@click="openCoursePage(course.id)" v-for="course in course_data")
          div.list_course_item_left
            p.list_course_item_category.text_white.text_20(:class="course.系號") {{course_circle(course.系號,course.系所名稱)}}
          div.list_course_item_mid
            p.list_course_item_title.text_16 {{course.系號}}-{{course.選課序號}} {{course.課程名稱}}
            p.list_course_item_description.text_14.text_dark {{course.系所名稱}} — {{course.老師}} — {{course.時間}}
          div.list_course_item_right.large_right
            div.list_course_item_right--courseList
              img(src="./dist/images/course/comment_num.svg")
              p.text_14.text_dark(style="margin-right:15px") {{course.comment_num}}
            div.large_right--circle(@click.stop="setCourse(course.id)" )
              div.circle--img(v-show="!userData.now_wishlist.includes(course.id)")
                img(src="./dist/images/course/heart.svg")
              div.circle--img(v-show="userData.now_wishlist.includes(course.id)")
                img(src="./dist/images/course/heart_red.svg")
    div.fixed_button_area
      div.major_button.red_add.mobile_only



            
