
<div class="course__whole">        
  <div class="courseList__sidenav" id="courseFilter">
    <div class="courseList__sidenav__deptChoose">
      <div class="block_title">
        <p class="text_18">開課單位</p>
      </div>
      <div class="quick_search_area" style="z-index:300">
        <input class="quick_search_input" id="dpmtFilter" type="text" v-model="keyword" placeholder="選擇「開課單位」"/>
        <div class="quick_search_dropdown--course">
          <div class="search_result--course" v-for="(result, index) in search_result">
            <div @click="result_click(index)">
              <p>{{result.prefix}} {{result.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="courseList__sidenav__courseType" id="courseArrange">
      <div class="block_title">
        <p class="text_18">檢視選項</p>
      </div>
      <div class="quick_search_area">
        <label class="quick_search_custom"> 
          <input id="commentCheck" type="checkbox" @click="comment_filter()"/><span class="fucking_checkmark"></span><span>僅顯示有心得之課程</span>
        </label>
      </div>
    </div>
    <div class="wishlist courseList__sidenav__wishList in_course">
      <div class="block_title">
        <p class="text_18">願望清單（{{ wishlist_cont.length }}）</p>
      </div>
      <div class="wishlist_cont">
        <div class="list_course_item" v-for="item in wishlist_cont" style="justify-content:none">
          <div class="list_course_item_left">
            <p class="list_course_item_category text_20 text_white clickable" :class="item.dept_id" @click="deleteItem(item.id)">{{ item.category }}</p>
          </div>
          <div class="list_course_item_mid">
            <p class="list_course_item_title text_16">{{ item.dept_id }}-{{ item.class_id }} {{ item.title }}</p>
            <p class="list_course_item_description text_14 text_dark">{{ item.teacher }} — {{ item.time }}</p>
          </div>
          <div class="list_course_item_right"> </div>
        </div>
      </div>
      <div class="quick_search_custom quick_search_custom--btn" @click="opentabletab()"><img src="./dist/images/course/arrange.svg"/>
        <p>加入完成，開始安排課表！</p>
      </div>
    </div>
  </div>
  <div class="flex-container courseList__sideList">
    <div class="card courseList__sideList__itemBox" id="courseList">
      <div id="course_item" v-on:scroll="handleScroll">
        <div class="list_course_item" @click="openCoursePage(course.id)" v-for="(course, index) in course_data">
          <div class="list_course_item_left">
            <p class="list_course_item_category text_white text_20" :class="course.系號">{{course_circle(course.系號,course.系所名稱)}}</p>
          </div>
          <div class="list_course_item_mid">
            <p class="list_course_item_title text_16">{{course.系號}}-{{course.選課序號}} {{course.課程名稱}}</p>
            <p class="list_course_item_description text_14 text_dark">{{course.系所名稱}} — {{course.老師}} — {{course.時間}}</p>
          </div>
          <div class="list_course_item_right large_right">
            <div class="list_course_item_right--courseList"><img src="./dist/images/course/comment_num.svg"/>
              <p class="text_14 text_dark" style="margin-right:15px">{{course.comment_num}}</p>
            </div>
            <div class="large_right--circle">
              <div class="circle--img" @click.stop="setCourse(index)" v-show="!userData.now_wishlist.includes(course.id)"><img src="./dist/images/course/heart.svg"/></div>
              <div class="circle--img" @click.stop="setCourse(index)" v-show="userData.now_wishlist.includes(course.id)"><img src="./dist/images/course/heart_red.svg"/></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>