
<div id="courseContent" v-show="isShow" @click.self="showContent()">
  <div class="courseContentBody">
    <div class="courseContentBody__left"><span class="courseSerial">{{course_data.系號}}{{course_data.選課序號}}</span>
      <h2 style="margin-top:20px">{{course_data.課程名稱}}</h2>
      <div class="flex-container icon-span" style="margin-top:30px">
        <div class="content-icon see_clip"></div><span>檢視課程大綱</span>
      </div>
      <div class="flex-container icon-span">
        <div class="content-icon add_wishlist"></div><span>加入願望清單</span>
      </div>
      <div class="courseUnit">
        <div class="block_title">
          <p class="text_14">開課單位</p>
        </div>
        <p class="text_16">{{course_data.系所名稱}}</p>
      </div>
      <div class="courseUnit">
        <div class="block_title">
          <p class="text_14">開課老師</p>
        </div>
        <p class="text_16">{{course_data.老師}}</p>
      </div>
      <div class="courseUnit">
        <div class="block_title">
          <p class="text_14">開課時段</p>
        </div>
        <p class="text_16">{{course_data.時間}}</p>
      </div>
      <!--div.courseUnit
      div.block_title
        p.text_14 教學方法
      p.text_16 course_data.lecture
      -->
      <!--div.courseUnit
      div.block_title
        p.text_14 評量方法
      p.text_16 course_data.score
      --><br/>
    </div>
    <div class="courseContentBody__right">
      <div class="courseContentBody__right__score">
        <div class="block_title">
          <p>課程評分 ({{score_data.rates.length}})</p>
        </div>
        <div class="flex-container score-btn--all">
          <div class="score-btn"><span>甜度</span>
            <div class="arrow-left" @click="minusRate('sweet_rate')"></div><span class="score_span">{{score_data.sweet}}</span>
            <input class="score_input" id="sweet_rate" type="number" value="5" min="1" max="10"/>
            <div class="arrow-right" @click="addRate('sweet_rate')"></div>
          </div>
          <div class="score-btn"><span>涼度 </span>
            <div class="arrow-left" @click="minusRate('hard_rate')"></div><span class="score_span">{{score_data.hard}}</span>
            <input class="score_input" id="hard_rate" type="number" value="5" min="1" max="10"/>
            <div class="arrow-right" @click="addRate('hard_rate')"></div>
          </div>
          <div class="score-btn"><span>推薦 </span>
            <div class="arrow-left" @click="minusRate('recom_rate')"></div><span class="score_span">{{score_data.recommand}}</span>
            <input class="score_input" id="recom_rate" type="number" value="5" min="1" max="10"/>
            <div class="arrow-right" @click="addRate('recom_rate')"></div>
          </div>
          <!--button.score-btn.score-btn__submit#score_input(type="submit" @click="submit_score()") 評分-->
        </div>
      </div>
      <div class="courseContentBody__right__comment">
        <div class="block_title">
          <p>課程心得 ({{comment_data.length}})</p>
        </div>
        <div class="courseFeedback">
          <div class="courseFeedback__single courseFeedback__single--default">
            <div class="courseFeedback__msg">
              <p>點擊按鈕，立即提供課程心得，</p>
              <p>幫助 480 位對這門課有興趣的同學！</p>
            </div>
          </div>
          <div class="courseFeedback__single" v-for="comment in comment_data">
            <div class="courseFeedback__msg">
              <p v-html="comment.comment">{{comment.comment}}</p>
            </div>
          </div>
          <!--  div.flex-container.courseFeedback__func
          div.arrow-up
          input(type="number" min="0" value="0").score_input
          div.arrow-down
          -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="course__whole">        
  <div class="courseList__sidenav" id="courseFilter">
    <div class="block_title">
      <p class="text_18">開課單位</p>
    </div>
    <div class="quick_search_area" style="z-index:300">
      <input class="quick_search_input" id="dpmtFilter" type="text" v-model="keyword" placeholder="選擇開課單位"/>
      <div class="quick_search_dropdown--course">
        <div class="search_result--course" v-for="(result, index) in search_result">
          <div @click="result_click(index)">
            <p>{{result.prefix}} {{result.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="courseList__sidenav__courseType" id="courseArrange">
      <div class="block_title">
        <p class="text_18">檢視選項</p>
      </div>
      <div class="quick_search_area">
        <div class="quick_search_checkbox">
          <input id="commentCheck" type="checkbox" @click="comment_filter()"/><span>僅顯示有心得之課程</span>
        </div>
      </div>
    </div>
    <div class="wishlist">
      <div class="block_title">
        <p class="text_18">願望清單（{{ wishlist_cont.length }})</p>
      </div>
      <div class="wishlist_cont">
        <div class="list_course_item" v-for="item in wishlist_cont">
          <div class="list_course_item_left">
            <p class="list_course_item_category text_20 text_white clickable" :class="item.dept_id" @click="deleteItem(item.id)">{{ item.category }}</p>
          </div>
          <div class="list_course_item_mid">
            <p class="list_course_item_title text_16">{{ item.dept_id }}-{{ item.class_id }} {{ item.title }}</p>
            <p class="list_course_item_description text_14 text_dark">{{ item.teacher }} — {{ item.time }}</p>
          </div>
          <div class="list_course_item_right"> </div>
        </div>
      </div>
      <button class="btn courseList__sidenav__courseType course-btn">加入完成，開始安排課表！</button>
    </div>
  </div>
  <div class="flex-container courseList__sideList">
    <div class="card courseList__sideList__itemBox" id="courseList">
      <div id="course_item" v-on:scroll="handleScroll">
        <div class="flex-container courseList__sideList__itemBox__item" @click.self="courseLink(index)" v-for="(course, index) in course_data">
          <div class="flex-container course_info">
            <div class="circle" :class="course.系號"><span class="circle-content">{{course.系號}}</span></div>
            <div class="courseText">
              <p class="text_16">{{course.課程名稱}}</p>
              <p class="text_14">{{course.系號}}{{course.選課序號}} - {{course.老師}}</p>
            </div>
          </div>
          <div class="flex-container">
            <div class="circle--img"><img src="./dist/images/course/edit.png"/></div>
            <div class="circle--img" style="z-index: 20" @click="addCourse(index)"><img src="./dist/images/course/heart.png"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>