<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h1 class="modal-title">關於</h1>
      </div>
      <div class="modal-body">
        <div class="partA">
          NCKU Course，由成大學生發起的課程資訊平台。<br>
          我們希望解決選課時資訊不足的問題。<br>
          讓每個人了解及選到最需要的課程，<br>
          進而提升學習品質與效率。<br>
        </div>
        <div class="partB">
          <span style="font-weight:bold;">提供心得:</span><br>
          目前的資料來源為<a href="https://www.facebook.com/nckucourseshare/" style="color:red;" target="_blank">成大課程粉專</a>，透過FB登入後可以發表心得，歡迎你提供更多心得，一起完善成大的選課環境。<br><br>
          <span style="font-weight:bold;">回報問題:</span><br>若你使用上遇到的問題或願意提供改善的建議請告訴我們。<br>
        </div>
      </div>
    </div>
  </div>
</div>
