<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h1 class="modal-title">關於</h1>
      </div>
      <div class="modal-body">
        <div class="partA">
          NCKU HUB，<br>
          由成大學生發起的課程資訊平台。<br>
          <br>
          如果每個人都能了解、選到最適合的課程<br>
          學習的品質就能被提升<br>
          而這一步，從解決資訊落差開始<br>
          <br>
          放心把心得交給我們吧！<br>
          因為有你一起努力，成大更不一樣了:)<br>
        </div>
        <div class="partB">
          若您在使用上遇到任何問題<br>
          或願意提供改善意見，<a href="https://www.messenger.com/t/nckuhub/" target="_blank">請聯絡我們</a>
          <br>
          <br>
          NCKU HUB 相當需要您 <a href="#" data-toggle="modal" data-target="#new">提供更多心得</a><br>
          一起完善成大的選課環境！<br>
          <br>
          特別感謝<a href="https://www.facebook.com/nckucourseshare/" target="_blank">『成大選課心得分享』</a>授權資料使用!<br>
        </div>
        <div class="partA text-center">
          Developed by Nick Liao,Derek Chen,Davin Lin
        </div>
      </div>
    </div>
  </div>
</div>
