<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h1 class="modal-title">新增心得</h1>
      </div>
      <div class="modal-body">
        <% if(user){%>
        <form class="form-horizontal" id="createform" method="post" action="/post/create">
          <div class="form-group">
            <label class="control-label col-sm-4">課程名稱(必填):</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="coursename">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">授課老師(必填):</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="teacher">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">學期:</label>
            <div class="col-sm-8">
              <select class="form-control" name="semester" form="createform">
                <option value="102-1">102-1</option>
                <option value="102-2">102-2</option>
                <option value="103-1">103-1</option>
                <option value="103-2">103-2</option>
                <option value="104-1">104-1</option>
                <option value="104-2">104-2</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">類別:</label>
            <div class="col-sm-8">
              <select class="form-control" name="catalog" form="createform">
                <option value="外國語言">外國語言</option>
                <option value="基礎國文">基礎國文</option>
                <option value="服務學習">服務學習</option>
                <option value="公民歷史">公民歷史 </option>
                <option value="通識中心">通識中心 </option>
                <option value="體育">體育 </option>
                <option value="其他必修">其他必修 </option>
                <option value="其他選修">其他選修 </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">修課心得(必填):</label>
            <div class="col-sm-8">
              <textarea rows="4" cols="50" name="comment" form="createform" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">報告作業: </label>
            <div class="col-sm-8">
                <textarea rows="4" cols="50" name="report_hw" form="createform" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">考試方式: </label>
            <div class="col-sm-8">
                <textarea rows="4" cols="50" name="exam_style" form="createform" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">評分方式: </label>
            <div class="col-sm-8">
                <textarea rows="4" cols="50" name="score_style" form="createform" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">老師上課教材: </label>
            <div class="col-sm-8">
                <textarea rows="4" cols="50" name="course_need" form="createform" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">老師上課方式: </label>
            <div class="col-sm-8">
                <textarea rows="4" cols="50" name="course_style" form="createform" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
              <div class="ui button" id="createform-submit">送出</button>
            </div>
          </div>
        </form>
        <% }else{ %>
          <a href="/user/auth/facebook" class="ui button" id="createform-fblogin-btn" >請先透過Facebook登入</a>
        <% } %>
      </div>
    </div>
  </div>
</div>
<script>
  $('#createform-submit').on('click',function(){
    var data =$("#createform").serialize()
    $.ajax({
      url: '/post/create',
      type: 'post',
      data: data,
      success: function(response) {
        if(response=="success"){
          window.location.href = "/";
        }else{
          var errosbox = "<div class='ui negative message'><div class='header'>錯誤</div><ul class='list'>";
          for(var i in response){
            var dom = "<li>" + response[i].msg +"</li>";
            errosbox += dom;
          }
          errosbox += "</ul></div>";
          $('#create .modal-body').prepend(errosbox);
        }
      }
    });
  });
</script>
