<% layout('../public/layout') %>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div id="sidebar">
          <div class="sidebar-query">
            <h1 class="text-center h3">輸入關鍵字</h1>
            <input type="text" name="query" id="query">
          </div>
          <div class="sidebar-categories">
            <h1 class="text-center h3">選擇類別</h1>
            <ul>
              <li class="category">A9 通識中心</li>
              <li class="category">A2 體育室</li>
              <li class="category">A1 外國語言</li>
              <li class="category">A6 服務學習</li>
              <li class="category">A7 基礎國文</li>
            </ul>
          </div>
          <li id="search">查詢課程</li>
        </div>
      </div>
      <div class="col-md-9">
        <div id="content">
          <table class="table">
            <tr>
              <th>課程</th>
              <th>類別</th>
              <th>開課老師</th>
              <th>學期</th>
            </tr>
            <tr>
              <td>課程</td>
              <td>類別</td>
              <td>開課老師</td>
              <td>學期</td>
            </tr>
            <tr>
              <td>課程</td>
              <td>類別</td>
              <td>開課老師</td>
              <td>學期</td>
            </tr>
            <tr>
              <td>課程</td>
              <td>類別</td>
              <td>開課老師</td>
              <td>學期</td>
            </tr>
            <tr>
              <td>課程</td>
              <td>類別</td>
              <td>開課老師</td>
              <td>學期</td>
            </tr>
            <tr>
              <td>課程</td>
              <td>類別</td>
              <td>開課老師</td>
              <td>學期</td>
            </tr>
            <tr>
              <td>課程</td>
              <td>類別</td>
              <td>開課老師</td>
              <td>學期</td>
            </tr>
            <tr>
              <td>課程</td>
              <td>類別</td>
              <td>開課老師</td>
              <td>學期</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
