<script type="text/javascript">
  var content = [
    <% for(var i in teachers){ %>
      {
        title:'<%- teachers[i]%>',
        url:'/?teacher=<%- teachers[i]%>'
      },
    <% } %>
    <% for(var i in course_name){ %>
      {
        title: '<%- course_name[i]%>',
        url: '/?course_name=<%- course_name[i]%>'
      },
    <% } %>
  ];
  $(document).ready(function() {
    $('.ui.search').search({
        source: content,
        error : {
          source      : 'Cannot search. No source used, and Semantic API module was not included',
          noResults   : '目前沒有此\"老師\"或是\"課程\"的心得',
          logging     : 'Error in debug logging, exiting.',
          noTemplate  : 'A valid template name was not specified.',
          serverError : 'There was an issue with querying the server.',
          maxResults  : 'Results must be an array to use maxResults setting',
          method      : 'The method you called is not defined.'
        },
        maxResults: 10
    });

    // Got enter in query input
    var last;
    $(".query").keyup(function (e) {
      if (e.keyCode == 13 && last == 13) {
        var query = $('.query').val();
        window.location.href = "/?queryw="+query.replace(/\\/g, "");
      }
      last = e.keyCode;
    });
  });
</script>

<div id="sidebar">
  <div class="ui search" style = "display:flex;flex-direction:column;">
    <div class="ui icon input">
      <input class="prompt query" type="text" placeholder="課程名稱 或 老師名稱">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
  <br>
  <div class="sidebar-categories">
    <hr style="width:94%;margin:10px 3%;border:solid 1px rgb(221,221,221);">
    <ul>
      <a class="small ui button catagory" href="/?catalog=A9">A9 通識中心</a>
      <a class="small ui button catagory" href="/?catalog=A2">A2 體育室</a>
      <a class="small ui button catagory" href="/?catalog=A1">A1 外國語言</a>
      <a class="small ui button catagory" href="/?catalog=A6">A6 服務學習</a>
      <a class="small ui button catagory" href="/?catalog=A7">A7 基礎國文</a>
      <a class="small ui button catagory" href="/?catalog=AG">AG 公民歷史</a>
      <a class="small ui button catagory" href="/?catalog=M">其他必修</a>
      <a class="small ui button catagory" href="/?catalog=C">其他選修</a>
      <a class="small ui button catagory" id="catagory-all" href="/">看全部</a>
    </ul>
  </div>
</div>
