.helper_content
  margin-top: 5vh
  background-color: rgba(255,255,255,1)
  width: 40vw
  z-index: 450
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5)
  transition: -webkit-box-shadow .25s
  transition: box-shadow .25s
  padding: 5vh 3vw
.helper_para
  margin-top: 3vh
  width: 85%
  line-height: 1.5
.underline
  padding: 0px 10px 15px 10px!important
  border-bottom: 1px solid #eee
.helper_btn
  padding: 6px 14px
  border-radius: 18px
  border: 1px solid #1A6CBD
  text-align: center
  color: #1A6CBD
  font-weight: 600
  display: inline-flex
  justify-content: center
  align-items: center
  margin: 0px 10px
  cursor: pointer
  transition: .2s
  &:hover
    color: white
    background-color: #1A6CBD
  &:active
    filter: brightness(80%)
  &.disabled 
    color: #CBCBCB
    border: 1px solid #CBCBCB
    cursor: default
    transition: 0s
    &:hover
      color: #CBCBCB
      background-color: transparent
    &:active
      filter: brightness(100%)

.close-btn
  // background-image: url('../images/helper/closebtn.svg')
  // background-position: center
  // background-repeat: no-repeat
  width: 20%
  // height: 20%
  // float: right
  // padding: 5px
  // background-color: #eee
  // border-radius: 15px
  position: absolute
  right: 15%
  top: 29%
  cursor: pointer