//**colors**
$colorBlack: #4A4A4A
$colorGrey: #eeeeee
$colorBlue: #1A6CBD
$colorRed: #F35A5A
//**buttons**
//--rectangle button
.btn-rectangle--sm
  background-color: #fff
  border: 1px solid #eee
  cursor: pointer
  padding: 8px 2.5vw
  text-align: center
  span
    color: #F35A5A
    font-size: 16px
//--右上角叉叉按鈕


//**containers**
.container-rectangle--md
  background-color: #eee
  padding: 10px 2.5vw
  text-align: left
//**fonts**
//--font size
.text_34
  font-size: 27px

//--font color
.color_grey9b
  color: #9b9b9b
