$colorBluue: #1A6CBD
.text_40
  font-size: 32px
.text_26
  font-size: 20px

.register__content
  background-color: #fafafa
  height: 100vh
  width: 100vw
  padding: 15vh 2vw 5vh 2vw
  display: flex
  flex-direction: row

.register__block
  width: 50%
  height: 100%
  background-color: #fff
  margin: 10px
  &__left
    padding: 5vh 3vw
    display: flex
    padding: 2vh 0px
    flex-direction: column
    align-items: center
    background-color: transparent
  &__right
    padding: 5vh 3vw
    width: 45%
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.06)
    &__head
      padding-bottom: 5vh
      border-bottom: 1px solid #eee
      margin-bottom: 3vh
      p.text_34
        margin-bottom: 2vh
    &__steps
      padding: 3vh 0px
      margin-bottom: 2vh
      &__inputs
        width: 80%
        margin-top: 3vh
        input
          -webkit-appearance: none
          border-bottom: 1px solid #eee
          margin-bottom: 2vh
          font-size: 16px
        input:focus
          outline: none
          border-bottom: 1px solid #1A6CBD
        &__line1
          display: inline-flex
          justify-content: space-between
          width: 100%
          input:nth-child(1)
            width: 65%
          input:nth-child(2)
            width: 30%
        &__line2
          input
            width: 100%
.round-btn
  width: 176px
  height: 42px
  border-radius: 21px
  background-color: #3B5998
  color: #fff
  display: flex
  justify-content: center
  align-items: center
  margin-top: 3vh
  img
    width: 14px
    height: 14px
    margin-right: 10px


.logo__circle
  width: 200px
  height: 200px
  border-radius: 100px
  background-color: #eee
  margin-bottom: 3vh

.rectangle-btn
  background-color: #fff
  height: 48px
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.06)
  width: 210px
  display: flex
  align-items: center
  padding-left: 16px
  img
    width: 19px
    height: 19px
    margin-right: 16px
  &--register
    &__login
      color: #1A6CBD
    &__finishRegist
      color: #F35A5A
