
<div class="add_review">
    <div class="add_review__window">
        <div class="add_review__window__top_bar">
            <!--  -->
        </div>
        <div class="add_review__window__mid_cont">
            <div class="add_review__window__mid_cont__top_row">
                <input class="add_review_class_title text_16" type="text" placeholder="輸入課程名稱">
                <input class="add_review_class_semester text_16" type="text" placeholder="選擇學期">
                <input class="add_review_class_teacher text_16"type="text" placeholder="選擇開課教師">
            </div>
            <textarea class="add_review__window__mid_cont__mid_area add_review_paragraph"></textarea>
            <div class="add_review__window__mid_cont__bottom_row">
                <div class="add_review_rate sweet text_16">甜度</div>
                <div class="add_review_rate cold text_16">涼度</div>
                <div class="add_review_rate gain text_16">收穫</div>
            </div>
        </div>
        <div class="add_review__window__bottom_bar">
            <!--  -->
        </div>
    </div>
    <div class="add_review__background"></div>
</div>