<div v-if="page_status.windows.helper" class="helper_background" id="helper_background" @click.self="close_helper()">
  <div class="helper_content" id="helper_content">
    <!-- <div class="close-btn" @click="close_helper()">
      <img src="./dist/images/helper/closebtn.svg">
    </div> -->
    <p class="text_34 bold_text">選課小幫手</p>
    <div class="helper_para underline">
      <p class="text_16">NCKU HUB 的選課小幫手，是全台灣第一個課程餘額追蹤機器人，幫助學生節省在電腦前盯哨的時間，精準選到想上的課程！</p>
    </div>
    <div class="helper_para">
      <p class="text_20 bold_text">免費使用</p>
      <p class="text_16">提供 3 筆課程心得，讓成大更好，兌換一學期使用資格！</p>
      <p class="text_16 color_grey9b">您可使用的的心得積點：2 點，尚須 1 筆心得。</p>
    </div>
    <div v-if="helper_qualified" class="helper_para random_text">
      <p class="text_14">點擊複製開通代碼：YXKAK1083920</p>
    </div>
    <div class="helper_btn" @click="exchange_success()">
      <p v-if="helper_qualified" class="helper_btn--text text_20">前往開通資格</p>
      <p v-if="!helper_qualified" class="helper_btn--text text_20" @click="qualify_helper()">課程心得兌換</p>
    </div>
  </div>
  <div class="helper_content" id="helper_success">
    <p class="text_20 bold_text">兌換成功！</p>
    <p class="text_14">您已成功兌換小幫手「一學期使用資格」，目前剩餘心得積點為：3 點。使用資格期限為 107-1 學期選課期間。</p>
    <div class="helper_para random_text">
      <p class="text_14">點擊複製開通代碼：YXKAK1083920</p>
    </div>
    <div class="helper_para helper_bot_btn">
      <a class="text_14" @click="close_helper()">返回網頁</a>
      <a href="https://www.facebook.com/nckuhub/" target="_blank" class="text_14" style="color:#1A6CBD">前往開通</a>
    </div>
  </div>
</div>
