

<nav>
    <div id="navbar" class="hub_navbar">
      <div class="hub_navbar__right_area">
          <a class="hub_navbar__logo" href="/"></a>
          <!-- todo: 新增「查無結果」的顯示（所有搜尋處都要） -->
          <input class="hub_navbar__search" type="text" v-model="search_keyword" placeholder="搜尋「課程名」或「教師名」" ><br>
          <div v-if="search_keyword.replace(' ','') != ''" class="hub_navbar__search__dropdown">
              <div v-for="item in result_cont" class="list_course_item" @click="openCourse(item.id)">
                <div class="list_course_item_left">
                  <p class="list_course_item_category text_20 text_white" :class="item.dept_id"> {{ item.category }} </p>
                </div>
                <div class="list_course_item_mid">
                  <p class="list_course_item_title text_16">{{ item.dept_id }}-{{ item.class_id }} {{ item.title }}</p>
                  <p class="list_course_item_description text_14 text_dark">{{ item.teacher }} — {{ item.time }}</p>
                </div>
                <div class="list_course_item_right">
                </div>
              </div>
              <span> {{ result }} </span>
          </div>
      </div>
      <div class="hub_navbar__left_area">
          <div class="hub_navbar__link nav_link" name="course" @click="switchTo('course')">找課程</div>
          <div class="hub_navbar__link nav_link" name="table" @click="switchTo('table')">排課表 <span class="wishlist_count">{{ user_data.now_wishlist.length }}</span></div>
          <img class="hub_navbar__profile nav_link" name="profile" @click="switchProfileWindow()" :src="user_data.user_photo">
          <div class="hub_navbar__profile__dropdown">
            <div class="hub_navbar__profile__dropdown__info">
                <img class="hub_navbar__profile__dropdown__info__photo" :src="user_data.user_photo">
                <div class="hub_navbar__profile__dropdown__info__detail">
                    <!-- todo: 若有開通權限則在 nav_profile_name 添加 vip class  -->
                    <div class="nav_profile_name vip">{{user_data.user_name}}</div>
                    <div v-show="user_data.user_id == 0" class="nav_profile_dept">請登入網站，</div>
                    <div v-show="user_data.user_id == 0" class="nav_profile_grade">以使用完整功能！</div>
                    <div v-show="user_data.user_department != '無'" class="nav_profile_dept">{{user_data.user_department}}</div>
                    <div v-show="user_data.user_grade != '無'" class="nav_profile_grade">{{user_data.user_grade}}年級</div>
                    <div v-show="user_data.user_id != 0 && user_data.user_department == '無'" class="nav_profile_dept">尚未輸入系所資料</div>
                    <div v-show="user_data.user_id != 0 && user_data.user_grade == '無'" class="nav_profile_grade">尚未輸入年級資料</div>
                </div>
            </div>
            <div v-show="user_data.user_id != 0" class="hub_navbar__profile__dropdown__goto" @click="open_helper()" >開通小幫手</div>
            <a v-show="user_data.user_id == 0" href='/user/fblogin'><div class="hub_navbar__profile__dropdown__goto" @click="switchTo('profile')" >立即登入 / 註冊</div></a>
            <div class="hub_navbar__profile__dropdown__links">
                <!-- <a>關於 NCKU HUB</a> -->
                <a href="https://www.facebook.com/nckuhub">粉絲專頁</a>
                <a>返回舊版</a>
                <a href="https://www.messenger.com/t/nckuhub">回報問題</a>
                <a v-show="user_data.user_id != 0" href='/user/logout'>登出帳戶</a>
            </div>
          </div>
      </div>
    </div>
</nav>
