<div class="register__content" id="register__content">
  <div class="register__block register__block__left">
    <div class="logo__circle">
    </div>

    <p class="text_40">資訊技術改善校園</p>
    <div>
      <p class="text_20">NCKU HUB 是由成大生自主發起，</p>
      <p class="text_20">以解決校園問題為目標的資訊平台。</p>
    </div>
    <div>
      <p>現有帳號登入</p>
    </div>

  </div>
  <div class="register__block register__block__right">
    <div class="register__block__right__titlebox">
      <p class="text_34">第一次使用？</p>
      <p class="text_20">若您為第一次使用，請依下列步驟完成註冊。</p>
    </div>
    <div class="register__block__right__steps">
      <p class="text_20">STEP 1：以現有帳號快速註冊</p>
      <div class="round-btn">
        <img src="./dist/images/register/fb_icon.svg">
        <p class="text_20">已連接 facebook</p>
      </div>
    </div>
    <div class="register__block__right__steps">
      <p class="text_20">STEP 2：輸入您的個人基本資訊</p>
      <div class="register__block__right__steps__inputs">
        <div>
          <input type="text" placeholder="系名">
          <input type="text" placeholder="年級">
        </div>
        <div>
          <input type="text" placeholder="常用信箱">
        </div>
      </div>
    </div>
    <div class="quick_search_custom">
      <p>完成註冊程序</p>
    </div>


  </div>
</div>
