

<div id="all_windows">

    <!-- 登入提醒 -->
    <div class="window not_login" v-if="page_status.windows.not_login" >
        <div class="window__background">
            <div class="window__self">
                <div class="window__self__title text_bold text_26">請先登入</div>
                <div class="window__self__detail">本功能僅限登入後使用，請註冊或登入現有帳號後繼續。</div>
                <div class="window__self__button_area ">
                    <a @click="closeWindow('not_login')" class="window__self__button_area__button text_dark">返回頁面</a>
                    <a href='/user/fblogin' class="window__self__button_area__button text_deep_blue">登入帳號</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 心得送出成功 -->
    <div class="window add_review_success" v-if="page_status.windows.add_review_success" >
        <div class="window__background">
            <div class="window__self">
                <div class="window__self__title text_bold text_26">已送出心得！</div>
                <div class="window__self__detail">感謝您熱心提供課程心得，幫助所有對這門課有興趣的同學，更加認識了課程！</div>
                <div class="window__self__button_area ">
                    <a @click="closeWindow('add_review_success')" class="window__self__button_area__button text_dark">返回頁面</a>
                    <a @click="oneMoreReview()"  class="window__self__button_area__button text_deep_blue">再填一份</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 放棄心得提醒 -->
    <div class="window add_review_give_up" v-if="page_status.windows.add_review_give_up" >
        <div class="window__background">
            <div class="window__self">
                <div class="window__self__title text_bold text_26">離開頁面？</div>
                <div class="window__self__detail">心得尚未儲存。您要放棄目前內容並且離開此頁嗎？</div>
                <div class="window__self__button_area ">
                    <a @click="closeWindow('add_review_give_up')" class="window__self__button_area__button text_dark">返回填寫</a>
                    <a @click="giveUpReview()"  class="window__self__button_area__button text_red">放棄內容</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 放棄課表提醒 -->
    <div class="window edit_table_give_up" v-if="page_status.windows.edit_table_give_up" >
        <div class="window__background">
            <div class="window__self">
                <div class="window__self__title text_bold text_26">離開頁面？</div>
                <div class="window__self__detail">課表尚未儲存。您要放棄目前變更並且離開此頁嗎？</div>
                <div class="window__self__button_area ">
                    <a @click="closeWindow('edit_table_give_up')" class="window__self__button_area__button text_dark">返回填寫</a>
                    <a @click="giveUpTable()"  class="window__self__button_area__button text_red">放棄變更</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 開通小幫手確認（免費） -->
    <div class="window helper_free_get_make_sure" v-if="page_status.windows.helper_free_get_make_sure" >
        <div class="window__background">
            <div class="window__self">
                <div class="window__self__title text_bold text_26">是否確定兌換？</div>
                <div class="window__self__detail">您填寫的心得須符合事實，不可為無意義內容或含有辱罵、中傷文字。若心得遭檢舉下架，NCKU HUB 將終止您的小幫手使用權益。</div>
                <div class="window__self__button_area ">
                    <a @click="closeWindow('helper_free_get_make_sure')" class="window__self__button_area__button text_dark">返回頁面</a>
                    <a @click="helperFreeSure" class="window__self__button_area__button text_red">確定兌換</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 開通小幫手成功（免費） -->
    <div class="window helper_free_get_success" v-if="page_status.windows.helper_free_get_success" >
        <div class="window__background">
            <div class="window__self">
                <div class="window__self__title text_bold text_26">兌換成功！</div>
                <div class="window__self__detail">您已成功兌換小幫手「一學期使用資格」，目前剩餘心得積點為：{{userData.now_comment.length  - 3}} 點。使用資格期限為 107-1 學期選課期間。</div>
                <div class="window__self__random_text" @click="copyCodeDone">
                    <p v-bind:data-clipboard-text="userData.messenger_code">複製開通代碼：{{userData.messenger_code}}</p>
                </div>
                <div class="window__self__button_area ">
                    <a @click="closeWindow('helper_free_get_success')" class="window__self__button_area__button text_dark">返回頁面</a>
                    <a href="https://m.me/nckuhub/" target="_blank" class="window__self__button_area__button text_deep_blue">前往開通</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 檢舉確認 -->
    <div class="window report" v-if="page_status.windows.report" >
        <div class="window__background">
            <div class="window__self">
                <div class="window__self__title text_bold text_26"　id="report_title">檢舉心得</div>
                <div class="window__self__detail">
                  <select class="" name="">
                    <option value="">請選擇檢舉原因</option>
                    <option value="">與事實不符的內容</option>
                    <option value="">謾罵或重傷的詞句</option>
                    <option value="">其他原因</option>
                  </select>
                </div>
                <div class="window__self__button_area ">
                    <a @click="closeWindow('report')" class="window__self__button_area__button text_dark">返回頁面</a>
                    <a @click="sendReport()" class="window__self__button_area__button text_red">提交檢舉</a>
                </div>
            </div>
        </div>
    </div>


</div>
