<% layout('../public/layout') %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <% if(user != undefined){ %>
        <% include cart %>
      <% }else{ %>
        尚未登入
      <% } %>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <table class="ui celled table unstackable" id="schedule-table">
          <thead>
            <tr>
              <th class="scheduletable-label">星期/<br>節次</th>
              <th class="scheduletable-cell">一</th>
              <th class="scheduletable-cell">二</th>
              <th class="scheduletable-cell">三</th>
              <th class="scheduletable-cell">四</th>
              <th class="scheduletable-cell">五</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td data-day="1" data-hour="1"></td>
              <td data-day="2" data-hour="1"></td>
              <td data-day="3" data-hour="1"></td>
              <td data-day="4" data-hour="1"></td>
              <td data-day="5" data-hour="1"></td>
            </tr>
            <tr>
              <td>2</td>
              <td data-day="1" data-hour="2"></td>
              <td data-day="2" data-hour="2"></td>
              <td data-day="3" data-hour="2"></td>
              <td data-day="4" data-hour="2"></td>
              <td data-day="5" data-hour="2"></td>
            </tr>
            <tr>
              <td>3</td>
              <td data-day="1" data-hour="3"></td>
              <td data-day="2" data-hour="3"></td>
              <td data-day="3" data-hour="3"></td>
              <td data-day="4" data-hour="3"></td>
              <td data-day="5" data-hour="3"></td>
            </tr>
            <tr>
              <td>4</td>
              <td data-day="1" data-hour="4"></td>
              <td data-day="2" data-hour="4"></td>
              <td data-day="3" data-hour="4"></td>
              <td data-day="4" data-hour="4"></td>
              <td data-day="5" data-hour="4"></td>
            </tr>
            <tr>
              <td>N</td>
              <td data-day="1" data-hour="n"></td>
              <td data-day="2" data-hour="n"></td>
              <td data-day="3" data-hour="n"></td>
              <td data-day="4" data-hour="n"></td>
              <td data-day="5" data-hour="n"></td>
            </tr>
            <tr>
              <td>5</td>
              <td data-day="1" data-hour="5"></td>
              <td data-day="2" data-hour="5"></td>
              <td data-day="3" data-hour="5"></td>
              <td data-day="4" data-hour="5"></td>
              <td data-day="5" data-hour="5"></td>
            </tr>
            <tr>
              <td>6</td>
              <td data-day="1" data-hour="6"></td>
              <td data-day="2" data-hour="6"></td>
              <td data-day="3" data-hour="6"></td>
              <td data-day="4" data-hour="6"></td>
              <td data-day="5" data-hour="6"></td>
            </tr>
            <tr>
              <td>7</td>
              <td data-day="1" data-hour="7"></td>
              <td data-day="2" data-hour="7"></td>
              <td data-day="3" data-hour="7"></td>
              <td data-day="4" data-hour="7"></td>
              <td data-day="5" data-hour="7"></td>
            </tr>
            <tr>
              <td>8</td>
              <td data-day="1" data-hour="8"></td>
              <td data-day="2" data-hour="8"></td>
              <td data-day="3" data-hour="8"></td>
              <td data-day="4" data-hour="8"></td>
              <td data-day="5" data-hour="8"></td>
            </tr>
            <tr>
              <td>9</td>
              <td data-day="1" data-hour="9"></td>
              <td data-day="2" data-hour="9"></td>
              <td data-day="3" data-hour="9"></td>
              <td data-day="4" data-hour="9"></td>
              <td data-day="5" data-hour="9"></td>
            </tr>
            <tr>
              <td>A</td>
              <td data-day="1" data-hour="a"></td>
              <td data-day="2" data-hour="a"></td>
              <td data-day="3" data-hour="a"></td>
              <td data-day="4" data-hour="a"></td>
              <td data-day="5" data-hour="a"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
