<% layout('../public/layout') %>
  <div class="ui centered grid">
      <div class="six wide column">
        <form class="ui form" id="usereditform">
          <div class="field">
            <label>姓名:</label>
            <input type="text" name="name" value="<%= user.name %>">
          </div>
          <div class="field">
            <label>系所:</label>
            <input type="text" name="department" value="<%= user.department %>">
          </div>
          <div class="field">
            <label>年級:</label>
            <select name="grade" form="usereditform">
              <option value="無" id="none">無</option>
              <option value="一年級" id="first">一年級</option>
              <option value="二年級" id="second">二年級</option>
              <option value="三年級" id="third">三年級</option>
              <option value="四年級" id="forth">四年級</option>
            </select>
          </div>
          <div class="field">
            <div class="ui button" id="usereditform-submit">更新</div>
            <a class="ui button" href="../">返回</a>
          </div>
        </form>
      </div>
  </div>

  <script>
    $('#usereditform-submit').on('click', function() {
      var data = $("#usereditform").serialize();
      $.ajax({
        url: '/user/update',
        type: 'post',
        data: data,
        success: function(response) {
          if (response == "success") {
            alert('更新成功');
          }
        }
      });
    });
    var grade = '<%= user.grade %>';
    switch (grade) {
      case '無':
        document.getElementById("none").selected = true;
        break;
      case '一年級':
        document.getElementById("first").selected = true;
        break;
      case '二年級':
        document.getElementById("second").selected = true;
        break;
      case '三年級':
        document.getElementById("third").selected = true;
        break;
      case '四年級':
        document.getElementById("forth").selected = true;
        break;
      default:
        document.getElementById("none").selected = true;
        break;
    }
  </script>
