<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" id="viewport" name="viewport">
    <title>NCKU HUB｜資訊改善校園</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="dist/CSS/course.css">
    <link rel="stylesheet" href="dist/CSS/helper.css">
    <!-- <link rel="stylesheet" href="dist/CSS/course/course.css"> -->
    <link rel="stylesheet" href="dist/CSS/reset.css">
    <link rel="stylesheet" href="dist/CSS/table.css">
    <link rel="stylesheet" href="dist/CSS/navbar.css">
    <link rel="stylesheet" href="dist/CSS/button.css">
    <link rel="stylesheet" href="dist/CSS/add_review.css">
    <link rel="stylesheet" href="dist/CSS/register.css">
    <!-- <script src="dist/JS/profile/init2.js"></script> -->
	<!-- <link rel="stylesheet" type="text/css" href="./dist/CSS/profile/profile.css "> -->
    <body>
        <!-- 視窗 -->
        <div class="window_div"> @@include('public/add_review.html') </div>
        <div class="window_div">  @@include('public/helper.html')  </div>
        <!-- <div class="window_div"> @@include('public/windows.html') </div> -->
    
        <!-- 基本 -->
        <div class="basic_div"> @@include('public/navbar.html')  </div>
        <div class="basic_div"> @@include('public/button.html')  </div>

        <!-- 分頁 -->
    	<div class="tab_div" name="course">  @@include('course/course_content.html')  </div>
        <div class="tab_div" name="table">  @@include('table/table.html')  </div>
        <div class="tab_div" name="register">  @@include('public/register.html')  </div>        
    	<!-- <div class="tab_div" name="profile">  @@include('profile/profile.html')  </div> -->

    </body>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"> </script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="dist/JS/functions.js"></script>
<script src="dist/JS/public.js"></script>
<script src="dist/JS/navbar.js"></script>
<script src="dist/JS/button.js"></script>
<script src="dist/JS/course.js"></script>
<script src="dist/JS/table.js"></script>
<script src="dist/JS/helper.js"></script>
<script src="dist/JS/add_review.js"></script>
<!-- <script src="dist/JS/profile/profile.js "></script> -->
</html>
