html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-family:"Helvetica Neue","Arial", "Segoe UI","STHeiti", "Microsoft JhengHei";
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* custom css */

/* edit bootstrap css */
.navbar{
  border-radius:0px;
}

.container{
  margin:0px;
  width:100%;
  padding:0px 20px;
}

.modal-body{
  padding:0px;
  line-height: 32px;
  letter-spacing: 2px;
}

/* sidebar */
#sidebar,#content{
  background:rgb(245,245,245);
  padding:40px 20px;
}

.sidebar-categories{
  font-size:0px
}

.ui.button{
  padding:12px 5px;
  margin:10px 1%;
}

.catagory{
 font-size:14px;
 text-align:center;
 width:48%;
 color:black;
 font-weight:500;
}

/* course table */
.orderbtn{
  cursor: pointer;
}
.chevron.down{
  margin-left:4px;
  font-size:14px;
}
.post-row:hover{
  background:rgba(233,234,239,0.7);
  cursor: pointer;
}
.course_name{
  font-weight:bold;
  width:40%;
}
.catalog{
  width:25%;
}
.teacher{
  width:20%;
}
.semester{
  width:15%;
}

/* single post */
.partA,.partB{
  width:100%;
  padding:20px 50px;
}
.partA{
  background:rgb(233,234,239);
}
.partB{
  background:rgb(211,222,214);
}
.title{
  font-weight:bold;
  border: #b30000 solid;
  height: 0px;
  color: #b30000;
  border-width: 0px 0px 1px;
  width: 200px;
  text-align: center
}

.delbtn{
  margin-top:40px;
}
/* create form */
#createform{
  margin:20px;
}
/* Media query */

/* sm */
@media (max-width:768px){

}

/* md */
@media (max-width:992px){

}
