html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

html *{
  font-family: Arial , "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體";
}
/* custom css */

/* edit bootstrap css */
.navbar{
  padding-left:10px;
  padding-right:10px;
  border-radius:0px;
  background:#34495e;
}

.navbar-toggle{
  border:1px solid white;
}

.navbar-toggle .icon-bar{
  background:white;
}

.navbar-brand,.navbar-brand:hover,.navbar-nav>li>a{
  color:white;
}

.nav>li>a:hover,.nav>li>a:focus{
  background:#34495e;
  cursor: pointer;
}

.container{
  margin:0px;
  width:100%;
  padding:0px 20px;
}

.modal-body{
  padding:0px;
  line-height: 32px;
  letter-spacing: 2px;
}

.modal-header{
  background:#34495e;
}

.modal-title{
  color:white;
}

.modal-header .close{
  text-shadow: none;
  color:white;
  opacity:1;
}

/* edit sementic UI */
.ui.grid{
  margin:0;
}

.ui-input-text{
  width:100%;
}

/* sidebar */

#sidebar,#content{
  background:#ebebeb;
  padding:40px 20px;
}

.ui.icon.input input{
  font-family: Arial , "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體";
}

.sidebar-categories{
  font-size:0px
}

.ui.button.catagory :active{
  background-color:red;
}

.ui.button.catagory{
  background:#dadada;
  padding:12px 5px;
  margin:6px 3%;
  font-size:14px;
  text-align:center;
  width:44%;
  font-weight:500;
  font-family: Arial , "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體";
}

.ui.button.catagory:hover{
  background-color:#CACBCD;
}

#catagory-all{
  width:94%;
  margin:10px 3%;
  display:block;
}

.sideber-course{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 10px;
}

.sideber-course .button{
  margin-bottom: 5px;
}

.ui.basic.modal.chooseCourse{
  margin-left: 5%;
  width: 90%;
  left: 0px;
  bottom: auto;
}

.chooseCourse .master, .chooseCourse .bachelor{
  justify-content: space-around;
  flex-wrap: wrap;
}

.disableborder > div{
  box-shadow: 0 0 0 0px !important;
}

.ui.basic.modal.timeTable{
  width: 40%;
  left: 0px;
  bottom: auto;
  margin-left: 30%;
  margin-right: 30%;
  min-width: 300px;
}
/* post table */

.orderbtn{
  cursor: pointer;
}

.sort.descending{
  vertical-align:super;
}

.post-row{
  cursor: pointer;
}

.post-row:hover{
  background:rgba(218,218,218,0.6);
}

#post-table .course_name{
  width:40%;
}
#post-table .catalog{
  width:25%;
}
#post-table .teacher{
  width:20%;
}
#post-table .semester{
  width:15%;
}

/* single post */

.partA,.partB{
  width:100%;
  padding:20px 25px;
}

.partA{
  background:#dadada;
}

.partB{
  background:#ebebeb;
  overflow-x: hidden;
}

.partA p,.partB p{
  color:#4d555e;
}

.partA button{
  margin-bottom: 10px !important;
  background-color: #ebebeb !important;
  color: #464646 !important;
}

.partB_button{
  display: flex;
  justify-content: center;
}

.partB_button button{
  display: flex !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}

.partB_button a{
  margin-left: 10px !important;
  margin-top: 10px !important;
  margin-right: 0px !important;

}

.post_title{
  font-weight:bold;
  color: #111922;
  text-align: center
}

.showbtnbar{
  margin:50px auto 20px auto;
  display: block;
}

/* post catagory */

#content1, #content2, #content3, #content4{
  -webkit-animation-duration: 0.3s;
}

/* create form */

#createform-fblogin-btn{
  width:60%;
  display:block;
  margin:40px auto;
}

.scorebar{
  width:90%;
  display:flex;
}

.scorebar .scorebtn{
  flex:1;
  text-align:center;
  font-size:0.75em;
  border:1px solid black;
  border-left:0px;
  background:white;
}

/* report form */

#reportform{
  margin-right:10px;
}


/* schedule */

#schedule-table{
  margin:50px auto;
}

.scheduletable-label{
  width:10%;
}

.scheduletable-cell{
  width:18%;
}

#schedule-table th{
  padding:4px;
}

#schedule-table td{
  padding:15px;
}

#schedule-table th,#schedule-table td{
  text-align: center;
  vertical-align:middle;
}

/* course */

.course-row,.delcoursebtn,.addcoursebtn{
  cursor:pointer;
}

#course-table .course_name{
  width:40%
}

#course-table .department_name{
  width:20%
}

#course-table .teacher{
  width:25%
}

#course-table .class_time{
  width:15%
}

/* course show */
.progressbarpart div{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.progressbar{
  width:80%;
  height:15px;
}

/* cart table */
#cart-table .option{
  width:10%;
}

#cart-table .course_name{
  width:60%;
}

#cart-table .course_time{
  width:30%;
}


/* Media query */

/* sm */
@media (max-width:768px){

}

/* md */
@media (max-width:992px){

}
