html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

html *{
  font-family:"Helvetica Neue","Arial", "Segoe UI","STHeiti", "Microsoft JhengHei";
}

/* custom css */

/* edit bootstrap css */
.navbar{
  border-radius:0px;
  background:#34495e;
}

.navbar-toggle{
  border:1px solid white;
}

.navbar-toggle .icon-bar{
  background:white;
}

.navbar-brand,.navbar-brand:hover,.navbar-nav>li>a{
  color:white;
}

.nav>li>a:hover,.nav>li>a:focus{
  background:#34495e;
  cursor: pointer;
}

.container{
  margin:0px;
  width:100%;
  padding:0px 20px;
}

.modal-body{
  padding:0px;
  line-height: 32px;
  letter-spacing: 2px;
}

.modal-header{
  background:#34495e;
}

.modal-title{
  color:white;
}

.modal-header .close{
  text-shadow: none;
  color:white;
  opacity:1;
}
/* sidebar */
#sidebar,#content{
  background:#ebebeb;
  padding:40px 20px;
}

.ui.icon.input input{
  font-family:"Helvetica Neue","Arial", "Segoe UI","STHeiti", "Microsoft JhengHei";
}

.sidebar-categories{
  font-size:0px
}

.ui.button.catagory{
  background:#dadada;
  padding:12px 5px;
  margin:6px 3%;
  font-size:14px;
  text-align:center;
  width:44%;
  font-weight:500;
  font-family:"Helvetica Neue","Arial", "Segoe UI","STHeiti", "Microsoft JhengHei";
}

.ui.button.catagory:hover{
  background-color:#CACBCD;
}

#catagory-all{
  width:94%;
  margin:10px 3%;
  display:block;
}

/* course table */
.orderbtn{
  cursor: pointer;
}
.chevron.down{
  margin-left:4px;
  font-size:14px;
}

.post-row{
  cursor: pointer;
}

.post-row:hover{
  background:rgba(218,218,218,0.6);
}

.course_name{
  font-weight:bold;
  width:40%;
}
.catalog{
  width:25%;
}
.teacher{
  width:20%;
}
.semester{
  width:15%;
}

/* single post */
.partA,.partB{
  width:100%;
  padding:20px 50px;
}
.partA{
  background:#dadada;
}
.partB{
  background:#ebebeb;
}

.partA p,.partB p{
  color:#4d555e;
}

.post_title{
  font-weight:bold;
  color: #111922;
  text-align: center
}

#delbtn{
  margin: 20px auto;
  display: block;
  width: 30%;
}

/* create form */
#createform{
  margin:20px;
}
/* report form */
#reportform{
  margin-right:10px;
}
/* Media query */

/* sm */
@media (max-width:768px){

}

/* md */
@media (max-width:992px){

}
