<div class="my_profile__whole">
  <div class="left_area">
    <div class="userInfo">
      <div class="block_title">
        <p class="text_18">個人資料</p>
      </div>
      <div class="userInfo__box">
        <div class="userInfo__box__userPanel">
          <img class="userInfo__box__userPanel__photo" src="./dist/images/course/sad_hugecat.png">
          <div class="userInfo__box__userPanel__profile">
            <div class="profile_name text_24">林彥廷</div>
            <div class="profile_dept text_14 text_dark">工業與資訊管理學系</div>
            <div class="profile_grade text_14 text_dark">三年級</div>
            <div class="profile_helper text_12 text_dark">
              <img src="./dist/images/my_profile/star.svg">
              未開通小幫手
            </div>
          </div>
        </div>
        <div class="userInfo__box__userPoint single_panel_item">
          <img src="./dist/images/my_profile/account_box.svg">
          <p>目前心得積點：5 點</p>
        </div>
      </div>
    </div>
    <div class="functionsList">
      <div class="functionsList__box">
        <div class="single_panel_item">
          <img src="./dist/images/my_profile/account_box.svg">
          <p>開通選課小幫手</p>
        </div>
        <div class="single_panel_item">
          <img src="./dist/images/my_profile/account_box.svg">
          <p>修改個人資料</p>
        </div> 
        <div class="single_panel_item">
          <img src="./dist/images/my_profile/account_box.svg">
          <p>登出NCKU HUB</p>
        </div>
      </div>
    </div>
  </div>
  <div class="right_area">

  </div>
</div>