<form class="ui form" id="courserateform">
  <div class="field">
    <label>推薦程度:</label>
    <div class="scorebar" id="recommand">
      <div class="scorebtn" style="border-left:1px solid black;" data-score="1">1</div>
      <div class="scorebtn" data-score="2">2</div>
      <div class="scorebtn" data-score="3">3</div>
      <div class="scorebtn" data-score="4">4</div>
      <div class="scorebtn" data-score="5">5</div>
      <div class="scorebtn" data-score="6">6</div>
      <div class="scorebtn" data-score="7">7</div>
      <div class="scorebtn" data-score="8">8</div>
      <div class="scorebtn" data-score="9">9</div>
      <div class="scorebtn" data-score="10">10</div>
    </div>
  </div>
  <div class="field">
    <label>課程硬度:</label>
    <div class="scorebar" id="hard">
      <div class="scorebtn" style="border-left:1px solid black;" data-score="1">1</div>
      <div class="scorebtn" data-score="2">2</div>
      <div class="scorebtn" data-score="3">3</div>
      <div class="scorebtn" data-score="4">4</div>
      <div class="scorebtn" data-score="5">5</div>
      <div class="scorebtn" data-score="6">6</div>
      <div class="scorebtn" data-score="7">7</div>
      <div class="scorebtn" data-score="8">8</div>
      <div class="scorebtn" data-score="9">9</div>
      <div class="scorebtn" data-score="10">10</div>
    </div>
  </div>
  <div class="field">
    <label>分數甜度:</label>
    <div class="scorebar" id="sweet">
      <div class="scorebtn" style="border-left:1px solid black;" data-score="1">1</div>
      <div class="scorebtn" data-score="2">2</div>
      <div class="scorebtn" data-score="3">3</div>
      <div class="scorebtn" data-score="4">4</div>
      <div class="scorebtn" data-score="5">5</div>
      <div class="scorebtn" data-score="6">6</div>
      <div class="scorebtn" data-score="7">7</div>
      <div class="scorebtn" data-score="8">8</div>
      <div class="scorebtn" data-score="9">9</div>
      <div class="scorebtn" data-score="10">10</div>
    </div>
  </div>
  <input type="hidden" name="recommand" value="1">
  <input type="hidden" name="hard" value="1">
  <input type="hidden" name="sweet" value="1">
  <input type="hidden" name="course_name" value="<%= course_name %>">
  <input type="hidden" name="teacher" value="<%= teacher %>">
  <div class="ui button tiny" id="courserateform-submit">送出</div>
  <div class="ui button tiny closecourserate">關閉</div>
</form>

<script type="text/javascript">
  var courseid = <%= courseid %>;
  $(document).ready(function(){
    $('.closecourserate').on('click',function(){
      $('.courseratepart').empty();
      $('.showcourseratebtn').show();
    });

    $('#courserateform #recommand .scorebtn').on('click',function(){
      $('#recommand .scorebtn').css('background','white');
      $(this).css('background','#D8D8D8');
      var rate = this.getAttribute("data-score");
      $('input[name=recommand]').val(rate);
    })

    $('#courserateform #hard .scorebtn').on('click',function(){
      $('#hard .scorebtn').css('background','white');
      $(this).css('background','#D8D8D8');
      var rate = this.getAttribute("data-score");
      $('input[name=hard]').val(rate);
    })

    $('#courserateform #sweet .scorebtn').on('click',function(){
      $('#sweet .scorebtn').css('background','white');
      $(this).css('background','#D8D8D8');
      var rate = this.getAttribute("data-score");
      $('input[name=sweet]').val(rate);
    })

    $('#courserateform-submit').on('click', function() {
      var data = $("#courserateform").serialize();
      $.ajax({
        url: '/rate/create',
        type: 'POST',
        data: data,
        success: function(response) {
          $('#course-modal .sr-only').click();
          $('#course-'+courseid).click();
        }
      });
    });
  });
</script>
