<% if ( messages.success ){ %>
  <div class="alert alert-success" >
    <%= messages.success %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% }else if(messages.error){ %>
  <div class="alert alert-danger" >
    <%= messages.error %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% }else if(messages.warning){ %>
  <div class="alert alert-warning" >
    <%= messages.warning %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% } %>
