<!DOCTYPE html>
<html>

<head>
  <title>NCKU COURSE</title>
  <meta charset="UTF-8">
  <meta name="description" content="一個提供課程心得的校園平台">
  <meta property="og:title" content="NCKU COURSE"/>
  <meta property="og:url" content="http://ec2-52-197-130-40.ap-northeast-1.compute.amazonaws.com/"/>
  <meta property="og:site_name" content="NCKU COURSE"/>
  <meta property="og:description" content="一個提供課程心得的校園平台" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="../assets/semantic/dist/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../assets/semantic/dist/semantic.min.css">
  <link rel='stylesheet' href='../assets/css/style.css' />
</head>

<body style="background:rgb(233,234,239);">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">NCKU COURSE</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">關於</a></li>
          <li><a href="#">回報問題</a></li>
          <% if(user){%>
          <li>
            <a href="#" data-toggle="modal" data-target="#create">提供心得</a>
            <% include ../post/createform %>
          </li>
          <li><a href="/user/logout">登出</a></li>
          <% }%>
          <% if(user == null ){%>
          <li><a href="/user/auth/facebook">FB登入</a></li>
          <% }%>
        </ul>
      </div>
    </div>
  </nav>
  <%- body %>
</body>

</html>
