<!DOCTYPE html>
<html lang="en">

<head>
  <title>NCKU</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='assets/css/style.css' />
</head>

<body style="background:rgb(233,234,239);">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">KIWI</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">關於</a></li>
          <li>
            <a href="#" data-toggle="modal" data-target="#create">提供心得</a>
            <% include ./createform %>
          </li>
          <li><a href="#">回報問題</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <%- body %>
</body>

</html>
