<div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h1 class="modal-title">回報問題</h1>
      </div>
      <div class="modal-body">
        <div class="partA">
          非常非常感謝你/妳提供意見！ :D :D :D<br>願意的話，也請告訴我們怎麼聯絡你/妳吧 :)
        </div>
        <div class="partB">
          <form class="ui form" id="reportform" method="post" action="/report">
            <div class="field">
              <label>如何稱呼: </label>
              <input type="text" name="name" placeholder="姓名或綽號 你方便稱呼的方式">
            </div>
            <div class="field">
              <label >聯絡方式: </label>
              <input type="text" name="contact" placeholder="臉書或Email都可以喔">
            </div>
            <div class="field">
              <label>想說的話: </label>
              <textarea rows="4" cols="50" name="comment" form="reportform"></textarea>
            </div>
            <div class="field">
                <div id="reportform-submit" class="medium ui button">送出</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$('#reportform-submit').on('click',function(){
  var data =$("#reportform").serialize();
  $.ajax({
    url: '/report',
    type: 'post',
    data: data,
    success: function(response) {
      if(response=="success"){
        $('#reportform').fadeOut();
        $('#report .partA').fadeOut();
        document.getElementById("reportform").reset();
        $('#report .partB').append("<h1 class='text-center h1'>謝謝你的回饋!</h1>");
        setTimeout(function() {
          $('#report .close').click();
          $('#report .partB .h1').remove();
          $('#reportform').fadeIn();
          $('#report .partA').fadeIn();
        },2000);
      }
    }
  });
});
</script>
