<div id="sidebar">
  <div class="sidebar-query">
    <h1 class="text-center h3">輸入關鍵字</h1>
    <input type="text" name="query" id="query">
  </div>
  <div class="sidebar-categories">
    <h1 class="text-center h3">選擇類別</h1>
    <ul>
      <li class="catagory">A9 通識中心</li>
      <li class="catagory">A2 體育室  </li>
      <li class="catagory">A1 外國語言</li>
      <li class="catagory">A6 服務學習</li>
      <li class="catagory">A7 基礎國文</li>
      <li class="catagory">AG 公民歷史</li>
    </ul>
  </div>
  <li id="searchbtn">查詢課程</li>
</div>
