

// 共用

$bg_color: #FAFAFA;
$black: #4A4A4A;
$dark: #9B9B9B;
$gray: #CBCBCB;
$light_2: #EEEEEE;
$light_1: #FAFAFA;
$light_0: #F5F5F5;
$white: #FFFFFF;
$red: #F35A5A;
$blue: #18ABD6;
$blue_darken: #19A3CB;
$deep_blue: #1A6CBD;
$pink: #FF6097;
$green: #17CF94;
$default: $dark;
// $default: $blue;

// other color
$warning_red: #c62828;

// transition
$material_trans: cubic-bezier(0.0, 0.0, 0.2, 1);


@mixin box_shadow_1() {
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.06);
}

@mixin box_shadow_2() {
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.10);
}

@mixin box_shadow_3() {
    box-shadow: 0 0 24px 0 rgba(0,0,0,0.28);
}

@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    $white-space: nowrap;
}


// Add Review Window

.add_review {
    z-index: 200;
    &__window {
        position: fixed;
        z-index: 300;
        display: flex;
        flex-direction: column;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 90vh;
        max-height: 620px;
        width: 90vw;
        max-width: 800px;
        background: $white;
        @include box_shadow_3();
        &__top_bar {
            position: relative;
            display: flex;
            width: 100%;
            height: 48px;
            background: $black;
            box-sizing: border-box;
            border: $black 1px solid;
            padding: 0 20px;
            cursor: default;
            &__title {
                display: flex;
                align-items: center;
                height: 100%;
                width: 100%;
                .add_review_title {
                    color: $white;
                    opacity: 0.95;
                }
            }
            &__icons {
                display: flex;
                align-items: center;
                height: 100%;
                width: auto;
                .add_review_icon {
                    height: 14px;
                    width: 14px;
                    cursor: pointer;
                    transition: .2s $material_trans;
                    &:hover {
                        opacity: 0.8;
                    }
                    &:active {
                        opacity: 0.6;
                    }
                    &.close {
                        background-image: url("../images/add_review/icon_close.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
        &__mid_cont {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: calc( 100% - 108px );
            background: $white;
            box-sizing: border-box;
            border: $light_2 1px solid;
            border-right: none;
            &__top_row {
                position: relative;
                display: flex;
                width: 100%;
                height: 45px;
                box-sizing: border-box;
                border-bottom: $light_2 1px solid;
                .add_review_class {
                    width: 100%;
                    outline: none;
                    box-sizing: border-box;
                    border-right: $light_2 1px solid;
                    padding: 0 20px;
                    position: relative;
                    background-color: $white;
                    &::placeholder {
                        color: $black;
                    }
                    &.title {
                        flex: 6;
                    }
                    &.semester {
                        flex: 2;
                    }
                    &.teacher {
                        flex: 3;
                    }
                    &.semester, &.teacher {
                        background-image: url("../images/add_review/icon_down_arrow.svg");
                        background-color: $white;
                        background-repeat: no-repeat;
                        background-position: 90% center;
                        opacity: 0.4;
                    }
                }
                .add_review_dropdowns {
                    position: absolute;
                    z-index: 100;
                    display: flex;
                    width: 100%;
                    top: 45px;
                    box-sizing: border-box;
                    border-bottom: $light_2 1px solid;
                    .add_review_dropdown {
                        height: 45px;
                        // max-height: 100px;      // todo
                        width: 100%;
                        outline: none;
                        box-sizing: border-box;
                        border-right: $light_2 1px solid;
                        padding: 0 20px;
                        position: relative;
                        background-color: $white;
                        @include box_shadow_1();
                        &.title {
                            flex: 6;
                        }
                        &.semester {
                            flex: 2;
                        }
                        &.teacher {
                            flex: 3;
                        }
                    }
                }
            }
            &__mid_area {
                position: relative;
                display: flex;
                width: 100%;
                height: calc( 100% - 90px );
                box-sizing: border-box;
                border: $light_2 0px solid;
                border-right: $light_2 1px solid;
                resize: none;
                outline: none;
                padding: 25px 20px;
                opacity: 0.4;
                &::placeholder {
                    color: $black;
                }
            }
            &__bottom_row {
                position: relative;
                display: flex;
                width: 100%;
                height: 45px;
                box-sizing: border-box;
                border-top: $light_2 1px solid;
                .add_review_rate {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    box-sizing: border-box;
                    border-right: $light_2 1px solid;
                    padding: 0 20px;
                    opacity: 0.4;
                    &__left_area {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        cursor: default;                    
                        .add_review_rate__name {
                            color: $black;
                        }
                    }
                    &__right_area {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        width: auto;
                        .add_review_rate__score {
                            color: $black;
                            margin: 0 20px;
                            cursor: default;
                        }
                        .add_review_rate__button {
                            display: block;
                            height: 20px;
                            width: 20px;
                            &.go_down {
                                background-image: url("../images/add_review/icon_left_arrow_round.svg");
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                            &.go_up {
                                background-image: url("../images/add_review/icon_right_arrow_round.svg");
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                        }
                    }
                }
            }
        }
        &__bottom_bar {
            position: relative;
            display: flex;
            width: 100%;
            height: 60px;
            background: $light_1;
            box-sizing: border-box;
            border: $light_2 1px solid;
            border-top: none;
            padding: 0 20px;
            &__status {
                display: flex;
                align-items: center;
                height: 100%;
                width: 100%;
                cursor: default;
                .add_review_status {
                    color: $dark;
                }
            }
            &__buttons {
                display: flex;
                align-items: center;
                height: 100%;
                width: auto;
                float: right;
                .add_review_button {
                    display: flex;
                    justify-content: center;
                    border-radius: 50px;
                    padding: 5px 0;
                    background-color: $white;
                    margin-left: 10px;
                    @include box_shadow_1();
                    transition: .2s $material_trans;
                    cursor: default;
                    &.enabled {
                        cursor: pointer;
                        &:hover {
                            opacity: 0.8;
                        }
                        &:active {
                            filter: brightness(95%);
                        }
                    }
                    &.give_up {
                        width: 55px;
                        color: $gray;
                        &.enabled {
                            color: $dark;
                        }
                    }
                    &.send_review {
                        width: 100px;
                        background-image: url("../images/add_review/icon_send_disabled.svg");
                        background-size: 12px;
                        background-repeat: no-repeat;
                        background-position: 14px center;
                        padding-left: 18px;
                        color: $gray;
                        &.enabled {
                            background-image: url("../images/add_review/icon_send.svg");
                            background-size: 12px;
                            background-repeat: no-repeat;
                            background-position: 14px center; 
                            color: $red;                       
                        }
                    }
                }
            }
        }
    }
    &__background {
        position: fixed;
        z-index: 200;
        content: '';
        display: block;
        left: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(0,0,0,0.6);
    }
}