

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');


// 全局

$bg_color: #FAFAFA;
// $bg_color: #EAEAEA;  // test
$black: #4A4A4A;
$dark: #9B9B9B;
$gray: #CBCBCB;
$light_2: #EEEEEE;
// $light_2: #EAEAEA;  // test
$light_1: #FAFAFA;
// $light_1: #EAEAEA;  // test
$light_0: #F5F5F5;
$white: #FFFFFF;
$red: #F35A5A;
$blue: #18ABD6;
$blue_darken: #19A3CB;
$deep_blue: #1A6CBD;
$pink: #FF6097;
$green: #17CF94;
$default: $dark;
// $default: $blue;



// other color
$warning_red: #c62828;

// transition
$material_trans: cubic-bezier(0.0, 0.0, 0.2, 1);

@mixin flex_center($direction: 'row') {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin inline_flex_center($direction: 'row') {
    display: inline-flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin flex_center_top() {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin inline_flex_center_top() {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex_center_left() {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin inline_flex_center_left() {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

@mixin box_shadow_1() {
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.06);
}

@mixin box_shadow_2() {
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.10);
}

@mixin box_shadow_3() {
    box-shadow: 0 0 24px 0 rgba(0,0,0,0.28);
}

@mixin box_shadow_1_hover {
    transition: box-shadow .2s $material_trans;
    &:hover {
        box-shadow: 0 0 28px 0 rgba(0,0,0,0.10);
    }
}

@mixin box_shadow_2_hover {
    transition: box-shadow .2s $material_trans;
    &:hover {
        box-shadow: 0 0 28px 0 rgba(0,0,0,0.16);
    }
}

@mixin box_shadow_3_hover {
    transition: box-shadow .3s $material_trans;
    &:hover {
        box-shadow: 0 0 38px 0 rgba(0,0,0,0.32);
    }
}

@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.fixed_button_area {
    position: fixed;
    z-index: 1000;
    display: block;
    bottom: 40px;
    right: 40px;
    height: 130px;
    width: 65px;
    &:hover {
        .minor_button {
            bottom: 120px;
        }
    }
    &.locked:hover {
        .minor_button {
            bottom: 50px;
        }
    }
    .major_button {
        position: fixed;
        z-index: 1000;
        display: block;
        bottom: 40px;
        right: 40px;
        height: 65px;
        width: 65px;
        border-radius: 100%;
        cursor: pointer;
        @include box_shadow_3();
        @include box_shadow_3_hover();
        transition: background-color .5s $material_trans, box-shadow .5s $material_trans ;
        &:active {
            filter: brightness(80%);
        }
        &.deep_blue_edit {
            background-image: url("../images/table/icon_edit.svg") ;
            background-size: 40% ;
            background-repeat: no-repeat ;
            background-position: center ;
            background-color: $deep_blue;
        }
        &.red_done {
            background-image: url("../images/table/icon_done.svg") ;
            background-size: 40% ;
            background-repeat: no-repeat ;
            background-position: center ;
            background-color: $red;
        }
        &.red_add {
            background-image: url("../images/table/icon_add.svg") ;
            background-size: 40% ;
            background-repeat: no-repeat ;
            background-position: center ;
            background-color: $red;
        }
    }
    .minor_button {
        position: fixed;
        z-index: 900;
        display: block;
        bottom: 50px;
        right: 50px;
        height: 45px;
        width: 45px;
        border-radius: 100%;
        cursor: pointer;
        @include box_shadow_2();
        @include box_shadow_2_hover();
        transition: .3s $material_trans;
        &:active {
            filter: brightness(80%);
        }
        &.dark_cancel {
            background-image: url("../images/table/icon_close.svg") ;
            background-size: 30% ;
            background-repeat: no-repeat ;
            background-position: center ;
            background-color: $dark;
        }
    }
}
