
@import "import";

@media only screen and (min-width: 966px) {
    .mobile_only {
        display: none !important;
    }
}

@media only screen and (max-width: 965px) { 
    .desktop_only {
        display: none !important;
    }
    .quick_search_custom--btn {
        display: none;
    }
    .courseList__sidenav__deptChoose {
        display: none;
    }
    .wishlist {
        display: none;
    }
    .courseList__sidenav {
        display: none;
        &.on {
            z-index: 10;
            position: fixed;
            display: block;
            height: auto;
            width: 100vw;
            margin-top: 60px;
            background: $white;
            padding: 4vh 8vw;
            box-shadow: 0 0 14px 0 rgba(0,0,0,0.10);
            .quick_search_area {
                height: auto;
            }
            .quick_search_custom {
                padding: 0;
                box-shadow: none;
                border: none;
                & span:nth-child(3) {
                    padding-left: 0;
                    font-size: 16px;
                }
            }
            .block_title > p {
                color: $deep_blue;
            }
            .block_title>p::after {
                display: none;
            }
            .checkmark {
                position: absolute;
                right: 2px;
                &::after {
                    left: 5px;
                    top: 0px;
                }
            }
            .courseList__sidenav__courseType {
                height: auto;
            }
        }
    }
    .courseList__sideList {
        top: 0;
        height: 100vh;
        width: 100vw;
        padding: 0;
    }
    #course_item {
        background: $bg_color;        
    }
    .courseList__sideList__itemBox {
        height: 100%;
        .list_course_item.blank_for_mobile {
            display: block;
            height: 80px;
            background: $bg_color;
        }
    }
    .major_button {
        bottom: 20px !important;
        right: 20px !important;
    }
    
    .list_course_item_right {
        padding: 0;
        .large_right--circle {
            display: none;
        }
    }

    #courseContent {
        z-index: 5;
        top: 0;
        height: 100%;
        // height: calc(100vh - 64px);
        // margin-top: 64px;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .courseContentBody {
        flex-direction: column;
        height: auto;
        width: 100vw;
        min-width: auto;
    }

    .courseContentBody__left {
        height: auto;
        padding: 100px 30px 0 30px;
    }

    .icon-span {
        position: absolute;
        top: 96px;
        right: 30px;
    }

    .courseContentBody__left h2 {
        margin-top: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .courseUnit {
        margin: 20px 0;
        & > .block_title {
            margin-bottom: 6px;
            & > .text_14 {
                font-size: 14px;
            }
        }
        & > .text_16 {
            font-weight: 900;
        }
    }

    .courseContentBody__right {
        padding: 40px 30px 30px 30px;
        &__score {
            width: auto;
        }
    }

    .score-btn--all {
        margin: 0 -5px;
        width: calc(100% + 10px);
    }

    .score-btn {
        margin: 0px 5px;
        width: 100%;
    }

    .courseFeedback {
        margin: auto;
    }

    .courseFeedback__single {
        margin: 14px 0px;
    }

    .courseContentBody__right__comment {
        width: 100%;
    }

    .courseFeedback__icons {
        & > .icon-span {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            top: 0;
            right: 0;
            margin-bottom: 0;
        }
        & img {
            margin-right: 2px;
            margin-left: 8px;
        }
        & span {
            padding: 0px 5px;
        }
    }

    .droplist_report {
        padding: 8px 14px;
        top: 30px;
        right: 0;
        & > div {
            margin: 6px 0;
        }
    }

}