
@import "import";

@media only screen and (min-width: 966px) {
}

@media only screen and (max-width: 965px) { 
    .add_review__window {
        height: 85vh;
        max-height: none;
    }
    .add_review__window__mid_cont {
        height: calc( 100% - 140px);
    }
    .add_review__window__mid_cont__top_row {
        flex-wrap: wrap;
        height: 92px;
    }
    .add_review_info.title {
        flex: auto !important;
        border-right: none;
        border-bottom: #eee 1px solid;
    }
    .add_review_info.semester {
        flex: 1;
        border-right: #eee 1px solid;
    }
    .add_review_info.teacher {
        flex: 3;
    }
    .add_review_dropdowns {
        flex-wrap: wrap;
    }
    .add_review_dropdown.title {
        flex: auto !important;
        top: 1px;
    }
    .add_review_dropdown.semester {
        flex: 1;
        top: 47px;
    }
    .add_review_dropdown.teacher {
        flex: 3;
        top: 47px;
    }
    .add_review__window__mid_cont__mid_area {
        height: calc( 100% - 230px);
    }
    .add_review__window__mid_cont__bottom_row {
        height: 138px;
        border-top: none;
        flex-direction: column;
    }
    .add_review_rate {
        border-right: none;
        border-top: #eee 1px solid;
    }
    .add_review__window__bottom_bar {
        flex-direction: column;
        height: 90px;
    }
    .add_review__window__bottom_bar__status {
        height: 45px;
    }
    .add_review__window__bottom_bar__buttons {
        align-items: flex-start;
        height: 45px;
        justify-content: flex-end;
    }
}