
@import "import";

@media only screen and (min-width: 966px) {
}

@media only screen and (max-width: 965px) { 
    .hub_navbar__link, .hub_navbar__profile {
        display: none;
    }
    .hub_navbar__logo {
        display: none;
    }
    .hub_navbar__left_area {
        display: none;
        &.mobile_on {
            display: inline-block;
            margin-left: 0;
            width: 100vw;
            .hub_navbar__search {
                margin-left: 0;
                padding: 17px 0;
                padding-left: 52px;
                width: 100vw;
                background-size: 40px;
                background-position: 10px center;
            } 
        }
    }
    .hub_navbar__mobile {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        top: 0;
        left: 0;
        margin-left: 5vw;
        height: 100%;
        width: 90vw;
        &__menu_icon {
            display: inline-block;
            height: 100%;
            width: 24px;
            background-image: url("../images/table/icon_menu.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
        &__title_text {
            margin-left: 15px;
            margin-right: 8px;
            color: $white;
        }
        &__drop_icon {
            display: inline-block;
            height: 100%;
            width: 12px;
            background-image: url("../images/table/icon_triangle.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            transition: $material_trans .3s;
            &.on {
                transform: rotate(180deg);
            }
        }
        &__search_icon {
            position: absolute;
            right: -1vw;
            display: inline-block;
            height: 100%;
            width: 40px;
            background-image: url("../images/table/icon_search.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
    }
    .hub_navbar__profile__dropdown {
        position: fixed;
        z-index: 10;
        height: 100vh;
        left: 0;
        margin-top: 0;
        border-bottom: none;
        padding: 0px;
        border: none;
        @include box_shadow_2();
        &__info {
            background: $blue;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            padding-top: 30px;
            background-image: url("../images/table/nav_logo_pure.svg");
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: 92% 14%;
            &.not_login {
                background: $dark;
            }
            &__photo {
                border: none;
            }
            &__detail {
                margin-top: 10px;
                margin-left: 5px;
                .nav_profile_name, .nav_profile_dept, .nav_profile_grade {
                    color: $white;
                }
                .nav_profile_name {
                    font-size: 18px;
                    line-height: 32px;
                }
            }
        }
        &__links > a {
            width: calc(100% - 50px);
            left: 0px;
            padding: 0 25px;
        }
    }
    .hub_navbar__profile__dropdown__goto {
        display: none;
    }
}