%__box{
  height: 100%;
  border: #eee 1px solid;
  background-color: #fff;
  box-shadow: 0 0 14px 0 rgba(0,0,0,.06);
  &:hover{
    box-shadow: 0 0 28px 0 rgba(0,0,0,0.10);
  }
}

.userInfo{
  &__box{
    @extend %__box;
    &__userPanel{
      display: flex;
      width: 100%;
      padding: 20px 0 10px 0;
      background: #fff;
      border-bottom: #eee 1px solid;
      &__photo{
        margin-left: 20px;
        border-radius: 100%;
        width: 65px;
        height: 65px;
      }
      &__profile{
        padding-left: 15px;
        padding-right: 20px;
        .profile_name{
          line-height: 28px;
          color: #4a4a4a;
        }
        .profile_dept,.profile_grade{
          line-height: 16px;
        }
        .profile_helper{
          height: 20px;
          width: 105px;
          border: #eee 1.5px solid;
          border-radius: 20px;
          margin-top: 10px;
          display: flex;
          align-items: center;
          cursor: pointer;
          img{
            margin:0 5px 0 10px;
            width: 14px;
            height: 14px;
          }
          &--qualified{
            border: #1A6CBD 1.5px solid;
            background-color: #1A6CBD;
            cursor: default;
          }
        }
      }
    }
  }
}

.functionsList{
  margin-top: 10px;
  &__box{
    @extend %__box;
  }
}

.single_panel_item{
  height: 48px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: #eee 1px solid;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  transition: .2s cubic-bezier(0,0,.2,1),padding .3s cubic-bezier(0,0,.2,1);
  padding: 14px 19px;
  &--last{
    @extend .single_panel_item;
    border-bottom:none;
  }
  p{
    padding-left: 14px;
  }
  &:hover{
    background-color: #fafafa;
  }
  &.disable{
    cursor: default;
  }
}

.userComment{
  display: flex;
  flex-direction: column;
  height: 100%;
  .released_comment{
    margin-bottom: 2vh;
    height: 42vh;
    display: flex;
    flex-direction: column;
    &__box{
      @extend %__box;
    }
  }
  .unreleased_comment{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    &__box{
      @extend %__box;
    }
  }
  .no_comment{
    &__box{
      @extend %__box;
      height: auto;
      padding: 60px 40px 40px;
      h2{
        font-size: 32px;
        line-height: 32px;
      }
      p{
        margin-top:20px;
      }
      .write_comment_btn{
        width: 215px;
        margin-top: 40px;
        display: flex;
        align-items: center;
        font-weight: 700;
        color: #1A6CBD;
        border: #1A6CBD 1px solid;
        padding: 10px 50px 10px 19px;
        cursor: pointer;
        &:hover{
          background-color: #1A6CBD;
          color:#fff;
        }
      }
    }
  }
}

.my_profile__window {
  width: 100vw;
  height: 100vh;
  z-index: 200;
  position: fixed;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_container {
  height: 400px;
  display: flex;
  &__left {
    background-color: #fafafa;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__avatar {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin-bottom: 40px;
      border: #ddd 4px solid;
    }
    &__uplolad {
      width: 80px;
      height: 30px;
      border: #eee 1px solid;
      width: 90px;
      height: 34px;
      border-radius: 50px;
      text-align: center;
      line-height: 32px;
      cursor: pointer;
      box-shadow: 0 0 14px 0 rgba(0,0,0,.06);
      &:hover {
        box-shadow: 0 0 28px 0 rgba(0,0,0,.1);
      }
    }
  }
  &__right {
    background-color: #fff;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    &__topic {
      align-self: flex-start;
      margin-bottom: 30px;
      font-weight: 700;
    }
    &__form {
      margin-bottom: 20px;
      width: 100%;
      & input {
        width: 100%;
        border-bottom: #c8c8c8 2px solid;
        outline: none;
        margin-bottom: 15px;
        transition: all 0.3s;
        &:focus, &:hover {
          border-bottom: #1A6CBD 2px solid;
        }
      }
    }
    &__send {
      width: 80px;
      height: 30px;
      border: #eee 1px solid;
      align-self: flex-end;
      width: 90px;
      height: 34px;
      font-weight: 700;
      border-radius: 50px;
      text-align: center;
      line-height: 32px;
      cursor: pointer;
      box-shadow: 0 0 14px 0 rgba(0,0,0,.06);
      &:hover {
        box-shadow: 0 0 28px 0 rgba(0,0,0,.1);
      }
    }
  }
}

.my_profile__left{
  width: 30vw;
  height: calc( 100vh - 60px);
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: calc( 9vh - 30px);
  padding-bottom: calc( 9vh - 30px);padding-right: 10px;
  padding-left: 5vw;
}

.my_profile__right{
  width: 70vw;
  height: calc( 100vh - 60px);
  position: fixed;
  right: 0;
  bottom: 0;
  padding-top: calc( 9vh - 30px);
  padding-bottom: calc( 9vh - 30px);
  padding-right: 5vw;
  padding-left: 30px;
}

.operations{
  border-left: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  &--circle{
    display: inline-flex;
    padding: 0 20px;
    margin-right: -20px;
    &:hover{
      .circle--img{
        filter: brightness(90%);
      }
    }
    &:active{
      .circle--img{
        filter: brightness(85%);
      }
    }
  }
}

.reported{
  color: #F35A5A;
}