

@import "import";


.block_title {
    @include flex_center_left();
    margin-bottom: 10px;
    & > p {
        position: relative;
        width: 100%;
        overflow: hidden;
        &::after {
            position: absolute;
            display: inline-block;
            content: "";
            top: 50%;
            margin-left: 10px;
            height: 1px;
            width: 100%;
            background: $gray;
        }
    }
}

.list_course_item {
    @include flex_center(row);
    border-bottom: $light_2 1px solid;
    width: 100%;
    height: 70px;
    transition: .2s $material_trans;
    &_left {
        @include inline_flex_center(row);
        margin-left: 2%;
        // width: 70px;
        width: auto;
        padding: 0 13px;
        height: 100%;
    }
    &_mid {
        @include inline_flex_center_top();
        @include ellipsis();
        // width: calc(96% - 140px);
        width: 100%;
        height: 100%;
        padding-left: 10px;
        & > p {
            @include ellipsis();
        }
    }
    &_right {
        @include inline_flex_center(row);
        margin-right: 2%;
        width: auto;
        padding: 0 19px;
        height: 100%;
    }
    &_category {
        @include flex_center(row);
        width: 44px;
        height: 44px;
        font-weight: 100;
        background-color: $default;
        border-radius: 100%;
        transition: background-color .1s $material_trans;
        &.A9 {
            background: $red;
        }
        &.A6 {
            background: $blue;
        }
        &.A7 {
            background: $pink;
        }
        &.A1 {
            background: $green;
        }
        &.A2 {
            background: $deep_blue;
        }
    }
    &_button {
        @include flex_center(row);
        width: 32px;
        height: 32px;
        background-image: url("../images/table/icon_arrow_right.svg");
        background-color: $light_2;
        background-size: 14px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 100%;
        transition: .2s $material_trans;
    }
    &:hover {
        cursor: pointer;
        background-color: $light_1;
        .list_course_item_category.clickable {
            background-image: url("../images/table/icon_close.svg");
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: $gray;
            color: rgba(0,0,0,0);
            transition: background-color .2s $material_trans, background-size .2s $material_trans;
            &:hover {
                background-color: $warning_red;
                background-size: 14px;
            }
            &:active {
                filter: brightness(80%);
            }
        }
        .list_course_item_button {
            background-size: 16px;
            background-color: $deep_blue;
            margin-right: -8px;
            &:active {
                filter: brightness(80%);
            }
        }
    }
    &:active {
        filter: brightness(98%);
        .list_course_item_button {
            filter: brightness(80%);
        }
    }
}



// 佈局

.left_area {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
    padding-left: 5vw;
    padding-right: 10px;
    height: calc( 100vh - 60px );
    width: 30vw;
    // background: yellow;
}

.right_area {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 70vw;
    height: calc( 100vh - 60px );
    padding-right: 5vw;
    padding-left: 30px;
    @include flex_center(column);
    // background: blue;
}

// 區塊

.personal_data {
    position: relative;
    // z-index: 15;
    height: 85px;
    width: 100%;
    // margin-top: 10vh;
    margin-top: calc( 9vh - 30px );
    padding: 0 15px;
    background: $white;
    border: $light_2 1px solid;
    @include flex_center_left();
    @include box_shadow_1();
    &_image {
        position: relative;
        height: 60px;
        width: 60px;
        border-radius: 100%;
        margin-right: 18px;
        overflow: hidden;
        img {
            height: 100%;
            width: auto;
        }
    }
    &_info {
        @include flex_center_top();
        @include ellipsis();
        & > p {
            @include ellipsis();
        }
    }
}

.quick_search {
    height: 100px;
    width: 100%;
    margin-top: 2.5vh;
    margin-bottom: 0.5vh;
    @include flex_center_top();
    &_area {
        position: relative;
        z-index: 200;
        height: 48px;
        width: 100%;
        &.filter_mode {
            .quick_search_input {
                cursor: pointer;
                background-image: none;
                color: $deep_blue;
                transition: .2s $material_trans;
            }
            &:hover {
                .quick_search_input {
                    color: $dark;
                    text-decoration: line-through;
                    box-shadow: 0 0 14px 0 rgba(0,0,0,0.06);
                }
                .quick_search_clear_filter {
                    background-color: $dark;
                }
            }
            &:active {
                .quick_search_clear_filter {
                    filter: brightness(80%);
                }
            }
        }
    }
    &_input {
        position: relative;
        width: calc(100% - 67px);
        font-size: 14px;
        padding: 16px 0;
        padding-left: 50px;
        padding-right: 15px;
        background-image: url("../images/table/icon_data.svg");
        background-color: $white;
        background-repeat: no-repeat;
        background-position: 18px center;
        box-sizing: content-box;
        border: $light_2 1px solid;
        @include box_shadow_1();
        @include ellipsis();
        @include box_shadow_1_hover();
        &::placeholder {
            color: $black;
        }
        &:focus {
            @include ellipsis();
            box-shadow: 0 0 28px 0 rgba(0,0,0,0.1);
            outline: none;
        }
        &.locked {
            filter: grayscale(100%);
            opacity: 0.6;
            // cursor: not-allowed !important;
            cursor: default !important;
            &:hover {
                box-shadow: 0 0 14px 0 rgba(0,0,0,0.06) !important;
            }
            &:focus {
                box-shadow: 0 0 14px 0 rgba(0,0,0,0.06) !important;
            }
        }
    }
    &_clear_filter {
        position: absolute;
        z-index: 1;
        display: block;
        top: 16px;
        height: 18px;
        width: 18px;
        left: 0;
        margin-left: 20px;
        border-radius: 100%;
        background-image: url("../images/table/icon_close.svg");
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $deep_blue;
        transition: .2s $material_trans;
    }
    &_dropdown {
        position: absolute;
        z-index: 100;
        top:calc( 9vh - 30px + 85px + 2.5vh + 94px );
        height: auto;
        max-height: 210px;
        // width: 100%;
        width: calc( 100% - 5vw - 10px ); 
        border: $light_2 1px solid;
        box-sizing: border-box;
        background: $white;
        overflow: scroll;
        // border: $light_2 1px solid;
        @include box_shadow_1();
        &__no_result {
            display: flex;
            height: 40px;
            padding: 0 20px;
            align-items: center;
        }
    }
}

.wishlist {
    &.in_table {
        margin-top: 2vh;
        height: calc( 77vh - 185px);
    }
    &.in_course {
        margin-top: 1.5vh;
        height: calc( 82vh - 200px - 2.5vh );
    }
    width: 100%;
    @include flex_center_top();
    &_cont {
        height: 100%;
        width: 100%;
        background: $white;
        overflow-x: hidden;
        overflow-y: scroll;
        border: $light_2 1px solid;
        @include box_shadow_1();
        @include box_shadow_1_hover();
        &__no_result {
            display: flex;
            padding: 22px;
            align-items: center;
        }
        &.locked {
            opacity: 0.6;
            overflow: hidden !important;
            // cursor: not-allowed;
            cursor: default;
            &:hover {
                box-shadow: 0 0 14px 0 rgba(0,0,0,0.06) !important;
            }
            &::before {
                position: absolute;
                z-index: 100;
                content: '';
                display: block;
                height: calc(77vh - 185px - 30px);
                width: calc(27vw - 30px);
                background: transparent;
            }
            .list_course_item_category {
                filter: grayscale(100%);
            }
        }
    }
}

.class_table {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 82vh;
    width: 100%;
    background: $bg_color;
    @include box_shadow_2();
    @include box_shadow_1_hover();
    &__empty_hint {
        position: absolute;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        &__text {
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            padding: 20px;
            background-color: white;
            border: $light_2 5px solid;
            margin-bottom: 20px;
            transition: .3s $material_trans;
            &:hover {
                color: $deep_blue;
                border-color: $deep_blue;
            }
            &:active {
                filter: brightness(99%);
            }
        }
    }
    &.locked {
        cursor: default;
        &:hover {
            box-shadow: 0 0 14px 0 rgba(0,0,0,0.10) !important;
        }
        .class_table_cont_cell.class_cell {
            &:hover {
                background: $white;
                opacity: 1 !important;
                border-top: $light_2 1px solid;
                cursor: default !important;
                .class_table_cont_cell_title {
                    opacity: 0;
                }
                .class_table_cont_cell_id {
                    opacity: 0;
                }
            }
            &:active {
                opacity: 1 !important;
            }
            &.occupied, &.occupied.other {
                background: $light_1 !important;
                cursor: default !important;
                &:hover {
                    border-top: $default 2px solid;
                }
                &.A9:hover {
                    border-top: $red 2px solid ;
                }
                &.A6:hover {
                    border-top: $blue 2px solid ;
                }
                &.A7 {
                    border-top: $pink 2px solid ;
                }
                &.A1 {
                    border-top: $green 2px solid ;
                }
                &.A2 {
                    border-top: $deep_blue 2px solid ;
                }
                .class_table_cont_cell_title {
                    opacity: 1 !important;
                }
                .class_table_cont_cell_id {
                    opacity: 1 !important;
                }
            }
        }
        .class_table_cont_cell_button {
            display: none;
        }
    }
    &_title {
        position: relative;
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 44px;
        width: 100%;
        &_cell {
            @include flex_center();
            height: 100%;
            width: calc( (100% - 70px) / 5);
            border: $light_2 1px solid;
            background: $light_1;
            &.left {
                width: 70px;
            }
        }
    }
    &_cont {
        position: relative;
        // display: flex;
        // flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
        height: calc(100% - 44px);
        width: 100%;
        background: $white;
        &__normal {
            position: relative;
            display: flex;
            flex-direction: row;
            height: auto;
            width: 100%;
            background: $white;
        }
        &__other {
            position: relative;
            display: flex;
            flex-direction: row;
            height: auto;
            width: 100%;
            background: $light_1;
        }
        &_row {
            height: 100%;
            width: calc( (100% - 70px) / 5);
            &.left {
                width: 70px;
            }
            &.right_full {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;        // ayy
                // padding: 0 0 4px 4px;
                width: calc( 100% - 70px );
                background: $light_1;
            }
        }
        &_cell {
            @include flex_center_top();
            position: relative;
            height: calc( (82vh - 44px) / 10);
            min-height: 50px;
            width: 100%;
            border: $light_2 1px solid;
            padding: 0 10%;
            background: $white;
            &_id {
                opacity: 0;
                margin-top: 4px;
                @include ellipsis();
            }
            &_title {
                opacity: 0;
                margin-bottom: 2px;
                @include ellipsis();
            }
            &_description {
                line-height: 130%;
                @include ellipsis();
            }
            &_button {
                opacity: 0;
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                margin: 12px 8px;
                height: 18px;
                width: 18px;
                border-radius: 100%;
                background-image: none;
                background-color: $dark;
                background-size: 10px;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
            }
            &.other {
                @include flex_center_top();
                position: relative;     // ayy
                height: calc( ((82vh - 44px) / 10 ) );
                // height: calc( ((82vh - 44px) / 10 ) - 6px );
                min-height: 50px;
                width: calc( (100%/5) );
                // width: calc( (100%/5) - 4px );
                border: $light_2 1px solid;
                padding: 0 2%;
                // margin: 4px 4px 0 0;
            }
            &.class_cell:hover {
                background: $light_2;
                opacity: 0.4;
                border-top: $gray 2px solid;
                cursor: pointer;
                .class_table_cont_cell_title {
                    opacity: 1;
                }
                .class_table_cont_cell_id {
                    opacity: 1;
                    &::before {
                        margin-left: -2px;
                        margin-bottom: 0;
                        margin-right: 0;
                        height: 0;
                        width: 0;
                    }
                }
            }
            &.class_cell:active {
                opacity: 1;
            }
            &.class_cell.occupied {
                @include box_shadow_1();
                background: $light_1;
                border: $light_2 1px solid;
                border-top: $default 2px solid;
                .class_table_cont_cell_id {
                    opacity: 1;
                    &::before {
                        position: relative;
                        display: inline-block;
                        content: "";
                        margin-left: 0px;
                        margin-right: 4px;
                        margin-bottom: 1px;
                        height: 6px;
                        width: 6px;
                        border-radius: 100%;
                        background: $default;
                    }
                }
                &.other {
                    & > .class_table_cont_cell_id::before {
                        margin-left: -2px;
                        margin-bottom: 0;
                        margin-right: 0;
                        height: 0;
                        width: 0;
                    }
                }
                &.A9 {
                    border-top: $red 2px solid ;
                    .class_table_cont_cell_id::before {
                        background: $red;
                    }
                }
                &.A6 {
                    border-top: $blue 2px solid ;
                    .class_table_cont_cell_id::before {
                        background: $blue;
                    }
                }
                &.A7 {
                    border-top: $pink 2px solid ;
                    .class_table_cont_cell_id::before {
                        background: $pink;
                    }
                }
                &.A1 {
                    border-top: $green 2px solid ;
                    .class_table_cont_cell_id::before {
                        background: $green;
                    }
                }
                &.A2 {
                    border-top: $deep_blue 2px solid ;
                    .class_table_cont_cell_id::before {
                        background: $deep_blue;
                    }
                }
                .class_table_cont_cell_title {
                    opacity: 1;
                }
                .class_table_cont_cell_button {
                    cursor: pointer;
                    opacity: 1;
                    transition: .2s $material_trans;
                    background-image: url("../images/table/icon_arrow_left.svg");
                    background-color: $gray;
                    &:hover {
                        background-color: $dark;
                    }
                }
                &:hover {
                    opacity: 1;
                    cursor: default;
                }
            }
            &.class_cell.filtering {
                @include box_shadow_1();
                background: $light_2;
                border: $light_2 1px solid;
                border-top: $gray 2px solid;
                .class_table_cont_cell_id, .class_table_cont_cell_title {
                    opacity: 1;
                }
                .class_table_cont_cell_button {
                    opacity: 1;
                    transition: opacity .5s $material_trans, background-color .2s $material_trans ;
                    background-image: url("../images/table/icon_close.svg");
                    background-size: 8px;
                    &:hover {
                        background-color: $black;
                    }
                }
                &:hover {
                    opacity: 1;
                    cursor: default;
                }
            }
            &.class_cell.previewing {
                color: $dark;
                background: $light_2;
                border-top: $dark 2px solid;
                transition: background-color .5s $material_trans;
                .class_table_cont_cell_button {
                    opacity: 0;
                }
                .class_table_cont_cell_id {
                    opacity: 1;
                    &::before {
                        margin-left: -2px;
                        margin-bottom: 0;
                        margin-right: 0;
                        height: 0;
                        width: 0;
                    }
                }
            }
            &.class_cell.rush {
                color: $warning_red;
                background: $light_2;
                border-top: $warning_red 2px solid !important;
                transition: background-color .5s $material_trans;
                .class_table_cont_cell_button {
                    transition: .5s $material_trans;
                    background-image: url("../images/table/icon_warn.svg");
                    background-color: $warning_red;
                }
                .class_table_cont_cell_id {
                    opacity: 1;
                    &::before {
                        margin-left: -2px;
                        margin-bottom: 0;
                        margin-right: 0;
                        height: 0;
                        width: 0;
                    }
                }
            }
        }
        &_row.left > .class_table_cont_cell {
            @include flex_center();
            background: $light_1;
            & > p.round {
                @include flex_center();
                background: $white;
                height: 30px;
                width: 30px;
                border-radius: 100%;
            }
        }
        &_row.left > .class_table_cont_cell.other {
            @include flex_center();
            min-height: 50px;
            width: 100%;
            border: $light_2 1px solid;
            & > p {
                @include flex_center();
                background: $white;
                height: 40px;
                width: 40px;
                border-radius: 100%;
            }
        }
    }
}