
@import "import";

.window {
    &__background {
        position: fixed;
        z-index: 400;
        left: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,0.6);
    }
    &__self {
        display: block;
        width: 350px;
        height: auto;
        padding: 25px;
        background: $white;
        @include box_shadow_3();
        &.big {
            width: auto;
            max-width: 400px;
        }
        &__title {
            padding: 0 10px;
            margin-top: 10px;
            margin-bottom: 12px;
        }
        &__detail {
            padding: 0 10px;
            margin-bottom: 15px;
        }
        &__random_text {
            border: 1px solid $light_2;
            padding: 10px 15px !important;
            width: calc(100% - 10px);
            margin: 15px 5px;
            cursor: pointer;
        }
        &__button_area {
            display: flex;
            flex-direction: flex-start;
            width: 100%;
            height: 30px;
            // background: yellow;
            &__button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 10px;
                font-weight: bold;
                cursor: pointer;
                &:hover {
                    background: $light_1;
                }
                &:active {
                    filter: brightness( 98% );
                }
            }
        }
    }

}

.report_window {
  width: 400px;
  select {
    width: 100%;
    padding: 5px 3px;
    border: 1px solid grey;
    border-radius: 0px;
  }

}
