<script src="../assets/js/searchItem.js"></script>
<script type="text/javascript">

  var nowCourse;
  var havecomment = []; // 過濾＋有心得的課程

   $(document).ready(function() {
      $('.ui.search').search({
         source: content,
         error : {
            source      : 'Cannot search. No source used, and Semantic API module was not included',
            noResults   : '目前沒有此\"老師\"或是\"課程\"的心得',
            logging     : 'Error in debug logging, exiting.',
            noTemplate  : 'A valid template name was not specified.',
            serverError : 'There was an issue with querying the server.',
            maxResults  : 'Results must be an array to use maxResults setting',
            method      : 'The method you called is not defined.'
        },
        maxResults: 10
      });

      // Got enter in query input
      var last;
      $(".query").keyup(function (e) {
         if (e.keyCode == 13 && last == 13) {
            var query = $('.query').val();
            window.location.href = "/course?queryw="+query.replace(/\\/g, "");
         }
         last = e.keyCode;
      });

      $('.course').on('click', function(){
         $('.chooseCourse').modal('show');
      });
      $('.tables').on('click', function(){
         $('.timeTable').modal('show');
      });

      $('.ui.inverted.button.mini').on('click', function(){
        if($(this).hasClass('active')){
          $(this).removeClass('active');
        }
        else{
          $(this).addClass('active');
        }
      });

      $('.ui.checkbox').checkbox({debug: true});


      // 大學部、研究所按鈕清除or全選
      $('#courseSelect').on('click', function(){
        if($('.bachelor')[1].style.display == 'flex'){
          if($('.bachelor .button.active').length == 0) $('.bachelor .mini.button').addClass('active');
          else $('.bachelor .mini.button.active').removeClass('active');
        }
        else{
          if($('.master .button.active').length == 0) $('.master .mini.button').addClass('active');
          else $('.master .mini.button.active').removeClass('active');
        }
      }); 

      // 課表按鈕清除or全選
      $('#tableSelect').on('click', function(){
        if($('.timeTable .mini.button.active').length == 0) $('.timeTable .mini.button').addClass('active');
        else $('.timeTable .mini.button.active').removeClass('active');
      });

      // 切換大學部、研究所
      $('.button.Tiny.master').on('click', function(){
        $('.button.Tiny.master').addClass('active');
        $('.button.Tiny.bachelor').removeClass('active');

        $('.bachelor')[1].style.display = 'none';
        $('.master')[1].style.display = 'flex';

      });
      $('.button.Tiny.bachelor').on('click', function(){
        $('.button.Tiny.bachelor').addClass('active');
        $('.button.Tiny.master').removeClass('active');

        $('.master')[1].style.display = 'none';
        $('.bachelor')[1].style.display = 'flex';
      });

      // 送出時間表查詢
      $('#sendTable').on('click', function(){
        chooseTable = $('.timeTable  div div .active');
        var table = {};
        for(var i = 0; i < chooseTable.length; i++){

          var time = chooseTable[i].getAttribute('tableid').split("-");
          if(table.hasOwnProperty(time[0])) table[time[0]] += time[1];
          else table[time[0]] = time[1];
        }

        var chooseWeeks = mergeArr(table); // 製作第一階段的篩選：week

        if(nowCourse === undefined) nowCourse = $('.course-row');

        var filterCourse = []; // 過濾後的課程
        havecomment.length = 0; // 清空資料
        nowCourseDom.length = 0; // 清空資料

        for(var i = 0; i < courses.length; i++){
          var dom;
          time = courses[i].時間;

          if(time == "未定"){
            continue;
          }
          time = time.split("[");
          time.shift();

          var buffer = time;
          time = {}; // 重新排列time

          for(var j in buffer){
            afterSplit = buffer[j].split("]");

            if(afterSplit[1].match("~")){
              var num = afterSplit[1].replace("~", "");
              if(num[0] == "N") num[0] = "4";
              if(num[1] == "N") num[1] = "5";
              afterSplit[1] = num[0];
              for(var k = 1; k < num[1] - num[0]; k++){
                afterSplit[1] += (Number(num[0]) + Number(k));
              }
              afterSplit[1] += num[1] ;
            }
            if(time.hasOwnProperty(afterSplit[0])) time[afterSplit[0]] += afterSplit[1];
            else time[afterSplit[0]] = afterSplit[1];
          }

          var courseWeek = mergeArr(time);

          if(chooseWeeks.match(courseWeek) != null){
            var isThechoose = true;
            for(var j in time){
              if(table[j].match(time[j]) == null){
                isThechoose = false;
                break;
              }
            }

            if (isThechoose) nowCourseDom.push(coursesDom[i]);
            if (isThechoose && courses[i].comment_amt != 0) {
              var dom = "<tr id='course-" + courses[i].id + "' class='notempty' data-toggle='modal' data-target='#course-modal' data-id='" + courses[i].id + "' ><td class='course_name'> " + courses[i].課程名稱 + " <span class='badge'>" + courses[i].comment_amt + "</span>" + "</td><td> " + courses[i].系所名稱 + "</td><td>" + courses[i].老師 + "</td><td> " + courses[i].時間 + "</td></tr>";
              havecomment.push(dom);
            } // 有notempty的屬性，所以要另外放
          }
        }
        var originalText = '<tr><th class="course_name">課程名稱</th><th class="department_name" >開課系所</th><th class="teacher" >開課老師</th><th class="class_time">時間</th></tr>';


        $("#course-table").html(originalText);
        for(var i = 0 ;i < 50 && nowCourseDom.length; i++){
          $("#course-table").append(nowCourseDom[i]);
        }
        now_index = 0;
        max_index = nowCourseDom.length;


        /* 綁定Ajaxshowcourse function */
        $('.course-row').on('click',function(){
          var courseid = this.getAttribute("data-id");
          ajaxshowcourse(courseid);
        });

        /* modal 關閉時清空 modal 內容 */
        $('#course-modal').on('hidden.bs.modal', function () {
          $('#course-modal .modal-content').empty();
          // $.fn.fullpage.destroy('all');
        });

        // 檢查是否有心得篩選條件
        var showempty = 0;

        if($('.ui.checkbox').hasClass('checked')){
          $('.course-row').hide();
          for(var i in havecomment){
           $('#course-table').append(havecomment[i]);
          }
          $('.notempty').on('click',function(){
           var courseid=this.getAttribute("data-id");
           ajaxshowcourse(courseid);
          });
          showempty=1;
        }
      });

      $('.timeTable p').on('click', function(){
        if(this.parentNode.getElementsByClassName('button active').length == 0)
          $(this.parentNode.getElementsByClassName('button')).addClass('active')
        else $(this.parentNode.getElementsByClassName('button')).removeClass('active');
      });

   });

  function mergeArr(arr){
    var chooseWeeks = Object.keys(arr).sort();
    chooseWeeks = chooseWeeks.join().replace(/\,/g, "");
    return chooseWeeks
  }

  function ajaxshowcourse(id){
    var ajaxurl = '/course/'+ id;
    $.ajax({
      url:ajaxurl,
      type: 'GET',
      success: function(response) {
        $('#course-modal .modal-content').prepend(response);
        $('#course-modal').data('bs.modal').handleUpdate();
      }
    });
  }

</script>

<div id="sidebar">
   <div class="ui search" style = "display: flex;flex-direction: column;">
      <div class="ui icon input" >
         <input class="prompt query" type="text" placeholder="課程名稱 或 老師名稱" style="width:100%;">
         <i class="search icon"></i>
      </div>
      <div class="results"></div>
   </div>
   <br>
   <div class="sidebar-categories">
      <div class="ui toggle checkbox" style="display: none;">
        <input type="checkbox" name="public">
        <label>單選模式</label>
      </div>

      <hr style="width:94%;margin:10px 3%;border:solid 1px rgb(221,221,221);">
      <ul>
         <a class="small ui button catagory" href="/course?catalog=A9">A9 通識中心</a>
         <a class="small ui button catagory" href="/course?catalog=A2">A2 體育室</a>
         <a class="small ui button catagory" href="/course?catalog=A1">A1 外國語言</a>
         <a class="small ui button catagory" href="/course?catalog=A7">A7 基礎國文</a>
         <a class="small ui button catagory" href="/course?catalog=A6">A6 服務學習</a>
         <a class="small ui button catagory" href="/course" style="display: none;">本系</a>
         <a class="small ui button catagory course" id="catagory-all" style="display: none;">依照系所、開課單位選擇</a>
         <a class="small ui button catagory tables" id="catagory-all">依空堂時段選擇</a>
         <a class="small ui button catagory" href="/course?catalog=M" style="background-color: rgb(217, 176, 177); display: none;">清除所選</a>
         <a class="small ui button catagory" href="/course?catalog=C" style="background-color: rgb(167, 188, 214); display: none;">確認送出</a>
      </ul>
   </div>


   <div class="ui basic modal chooseCourse">
      <!-- <i class="close icon"></i> -->
      <div class="header" style="text-align: center; position: relative;">
        依開課單位查詢
      <div style="right: 1.5rem; top: 1.25rem;position:absolute;">
        <div class="ui inverted right floated button Tiny master">研究所</div>
        <div class="ui inverted right floated button Tiny bachelor active">大學部</div>
      </div>
      </div>

      <div class="bachelor" style="display: flex;">
        <div class="sideber-course">
          <br>
          <p>其他</p>
          <br>
          <div class="ui inverted button mini" name="A2">體育室</div>
          <div class="ui inverted button mini" courseid="A3">軍訓室</div>
          <div class="ui inverted button mini" courseid="A4">師培中心</div>
          <div class="ui inverted button mini" courseid="A5">計網中心</div>
          <div class="ui inverted button mini" courseid="A6">服務學習</div>
          <div class="ui inverted button mini" courseid="AA">共同英授</div>
          <div class="ui inverted button mini" courseid="AH">華語中心</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>不分學院</p>
          <br>
          <div class="ui inverted button mini" courseid="AN">不分系學程</div>
          <div class="ui inverted button mini" courseid="C0">科學班</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>通識課程</p>
          <br>
          <div class="ui inverted button mini" courseid="A1">外國語言</div>
          <div class="ui inverted button mini" courseid="A7">基礎國文</div>
          <div class="ui inverted button mini" courseid="A9">通識中心</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>文學院</p>
          <br>
          <div class="ui inverted button mini" courseid="B1">中文</div>
          <div class="ui inverted button mini" courseid="B2">外文</div>
          <div class="ui inverted button mini" courseid="B3">歷史</div>
          <div class="ui inverted button mini" courseid="B5">台文</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>理學院</p>
          <br>
          <div class="ui inverted button mini" courseid="C1">數學</div>
          <div class="ui inverted button mini" courseid="C2">物理</div>
          <div class="ui inverted button mini" courseid="C3">化學</div>
          <div class="ui inverted button mini" courseid="C4">地科</div>
          <div class="ui inverted button mini" courseid="F8">光電</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>工學院</p>
          <br>
          <div class="ui inverted button mini" courseid="E0">工學院</div>
          <div class="ui inverted button mini" courseid="E1">機械</div>
          <div class="ui inverted button mini" courseid="E3">化工</div>
          <div class="ui inverted button mini" courseid="E4">資源</div>
          <div class="ui inverted button mini" courseid="E5">材料</div>
          <div class="ui inverted button mini" courseid="E6">土木</div>
          <div class="ui inverted button mini" courseid="E8">水利</div>
        </div>
        <div class="sideber-course" style="margin-left: 1px !important;">
          <br>
          <br>
          <br>
          <div class="ui inverted button mini" courseid="E9">工科</div>
          <div class="ui inverted button mini" courseid="F0">能源</div>
          <div class="ui inverted button mini" courseid="F1">系統</div>
          <div class="ui inverted button mini" courseid="F4">航太</div>
          <div class="ui inverted button mini" courseid="F5">環工</div>
          <div class="ui inverted button mini" courseid="F6">測量</div>
          <div class="ui inverted button mini" courseid="F9">醫工</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>管理學院</p>
          <br>
          <div class="ui inverted button mini" courseid="H1">會計</div>
          <div class="ui inverted button mini" courseid="H2">統計</div>
          <div class="ui inverted button mini" courseid="H3">工資</div>
          <div class="ui inverted button mini" courseid="H4">企管</div>
          <div class="ui inverted button mini" courseid="H5">交管</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>醫學院</p>
          <br>
          <div class="ui inverted button mini" courseid="I2">護理</div>
          <div class="ui inverted button mini" courseid="I3">醫技</div>
          <div class="ui inverted button mini" courseid="I5">醫學</div>
          <div class="ui inverted button mini" courseid="I6">物治</div>
          <div class="ui inverted button mini" courseid="I7">職治</div>
          <div class="ui inverted button mini" courseid="I8">藥學</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>社會學院</p>
          <br>
          <div class="ui inverted button mini" courseid="D2">法律</div>
          <div class="ui inverted button mini" courseid="D4">政治</div>
          <div class="ui inverted button mini" courseid="D5">經濟</div>
          <div class="ui inverted button mini" courseid="D8">心理</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>電資學院</p>
          <br>
          <div class="ui inverted button mini" courseid="E2">電機</div>
          <div class="ui inverted button mini" courseid="F7">資訊</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>規劃學院</p>
          <br>
          <div class="ui inverted button mini" courseid="E7">建築</div>
          <div class="ui inverted button mini" courseid="F2">都計</div>
          <div class="ui inverted button mini" courseid="F3">工設</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>生科學院</p>
          <br>
          <div class="ui inverted button mini" courseid="C5">生命</div>
          <div class="ui inverted button mini" courseid="C6">生技</div>
        </div>
      </div>
      <div class="master" style="display: none;">
        <div class="sideber-course">
          <br>
          <p>文學院</p>
          <br>
          <div class="ui inverted button mini" courseid="K1">中文</div>
          <div class="ui inverted button mini" courseid="K2">外文</div>
          <div class="ui inverted button mini" courseid="K3">歷史</div>
          <div class="ui inverted button mini" courseid="K5">台文</div>
          <div class="ui inverted button mini" courseid="K4">藝術</div>
          <div class="ui inverted button mini" courseid="K7">考古</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>理學院</p>
          <br>
          <div class="ui inverted button mini" courseid="C1">應數</div>
          <div class="ui inverted button mini" courseid="C2">物理</div>
          <div class="ui inverted button mini" courseid="C3">化學</div>
          <div class="ui inverted button mini" courseid="C4">地科</div>
          <div class="ui inverted button mini" courseid="F8">光電</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>工學院</p>
          <br>
          <div class="ui inverted button mini" courseid="E0">工學院</div>
          <div class="ui inverted button mini" courseid="E1">機械</div>
          <div class="ui inverted button mini" courseid="E3">化工</div>
          <div class="ui inverted button mini" courseid="E4">資源</div>
          <div class="ui inverted button mini" courseid="E5">材料</div>
          <div class="ui inverted button mini" courseid="E6">土木</div>
          <div class="ui inverted button mini" courseid="E8">水利</div>
        </div>
        <div class="sideber-course" style="margin-left: 1px !important;">
          <br>
          <br>
          <br>
          <div class="ui inverted button mini" courseid="E9">工科</div>
          <div class="ui inverted button mini" courseid="F0">能源</div>
          <div class="ui inverted button mini" courseid="F1">系統</div>
          <div class="ui inverted button mini" courseid="F4">航太</div>
          <div class="ui inverted button mini" courseid="F5">環工</div>
          <div class="ui inverted button mini" courseid="F6">測量</div>
          <div class="ui inverted button mini" courseid="F9">醫工</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>管理學院</p>
          <br>
          <div class="ui inverted button mini" courseid="H1">會計</div>
          <div class="ui inverted button mini" courseid="H2">統計</div>
          <div class="ui inverted button mini" courseid="H3">工資</div>
          <div class="ui inverted button mini" courseid="H4">企管</div>
          <div class="ui inverted button mini" courseid="H5">交管</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>醫學院</p>
          <br>
          <div class="ui inverted button mini" courseid="I2">護理</div>
          <div class="ui inverted button mini" courseid="I3">醫技</div>
          <div class="ui inverted button mini" courseid="I5">醫學</div>
          <div class="ui inverted button mini" courseid="I6">物治</div>
          <div class="ui inverted button mini" courseid="I7">職治</div>
          <div class="ui inverted button mini" courseid="I8">藥學</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>社會學院</p>
          <br>
          <div class="ui inverted button mini" courseid="D2">法律</div>
          <div class="ui inverted button mini" courseid="D4">政治</div>
          <div class="ui inverted button mini" courseid="D5">經濟</div>
          <div class="ui inverted button mini" courseid="D8">心理</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>電資學院</p>
          <br>
          <div class="ui inverted button mini" courseid="E2">電機</div>
          <div class="ui inverted button mini" courseid="F7">資訊</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>規劃學院</p>
          <br>
          <div class="ui inverted button mini" courseid="E7">建築</div>
          <div class="ui inverted button mini" courseid="F2">都計</div>
          <div class="ui inverted button mini" courseid="F3">工設</div>
        </div>
        <div class="sideber-course">
          <br>
          <p>生科學院</p>
          <br>
          <div class="ui inverted button mini" courseid="C5">生命</div>
          <div class="ui inverted button mini" courseid="C6">生技</div>
        </div>
      </div>
      <br>
      <div style="display: flex; justify-content: center;">
        <div class="ui inverted button red" id="courseSelect" >全選/全部清除</div>  
        <div class="ui inverted button blue" id="courseQuery">完成選擇</div>
      </div>
      
      <br>
   </div>

   <div class="ui basic modal timeTable">
     <!-- <i class="close icon"></i> -->
      <div class="header" style="text-align: center;margin-left: 0%;">課表</div>
      <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
<!--         <div class="ui sideber-course disableborder">
          <br>
          <br>
          <br>
          <div class="ui inverted button mini" tableid="1">1</div>
          <div class="ui inverted button mini" tableid="2">2</div>
          <div class="ui inverted button mini" tableid="3">3</div>
          <div class="ui inverted button mini" tableid="4">4</div>
          <br>
          <div class="ui inverted button mini" tableid="n">午</div>
          <br>
          <div class="ui inverted button mini" tableid="5">5</div>
          <div class="ui inverted button mini" tableid="6">6</div>
          <div class="ui inverted button mini" tableid="7">7</div>
          <div class="ui inverted button mini" tableid="8">8</div>
        </div> -->
        <div class="sideber-course" style="margin-left:5px;">
          <br>
          <p>星期一</p>
          <br>
          <div class="ui inverted button mini active" tableid="1-1">1</div>
          <div class="ui inverted button mini active" tableid="1-2">2</div>
          <div class="ui inverted button mini active" tableid="1-3">3</div>
          <div class="ui inverted button mini active" tableid="1-4">4</div>
          
          <!-- <div class="ui inverted button mini active" tableid="1-N">&nbsp;</div> -->
          <br>
          <div class="ui inverted button mini active" tableid="1-N">午</div>
          <br>
          <div class="ui inverted button mini active" tableid="1-5">5</div>
          <div class="ui inverted button mini active" tableid="1-6">6</div>
          <div class="ui inverted button mini active" tableid="1-7">7</div>
          <div class="ui inverted button mini active" tableid="1-8">8</div>
<!--           <div class="ui inverted button mini active" tableid="1-A">&nbsp;</div>
          <div class="ui inverted button mini active" tableid="1-B">&nbsp;</div>
          <div class="ui inverted button mini active" tableid="1-C">&nbsp;</div>
          <div class="ui inverted button mini active" tableid="1-D">&nbsp;</div> -->
        </div>
        <div class="sideber-course">
          <br>
          <p>星期二</p>
          <br>
          <div class="ui inverted button mini active" tableid="2-1">1</div>
          <div class="ui inverted button mini active" tableid="2-2">2</div>
          <div class="ui inverted button mini active" tableid="2-3">3</div>
          <div class="ui inverted button mini active" tableid="2-4">4</div>
          <!-- <div class="ui inverted button mini active" tableid="1-N">&nbsp;</div> -->
          <br>
          <div class="ui inverted button mini active" tableid="2-N">午</div>
          <br>
          <div class="ui inverted button mini active" tableid="2-5">5</div>
          <div class="ui inverted button mini active" tableid="2-6">6</div>
          <div class="ui inverted button mini active" tableid="2-7">7</div>
          <div class="ui inverted button mini active" tableid="2-8">8</div>
<!--           <div class="ui inverted button mini active" tableid="1-A">&nbsp;</div>
          <div class="ui inverted button mini active" tableid="1-B">&nbsp;</div>
          <div class="ui inverted button mini active" tableid="1-C">&nbsp;</div>
          <div class="ui inverted button mini active" tableid="1-D">&nbsp;</div> -->
        </div>
        <div class="sideber-course">
          <br>
          <p>星期三</p>
          <br>
          <div class="ui inverted button mini active" tableid="3-1">1</div>
          <div class="ui inverted button mini active" tableid="3-2">2</div>
          <div class="ui inverted button mini active" tableid="3-3">3</div>
          <div class="ui inverted button mini active" tableid="3-4">4</div>
          <!-- <div class="ui inverted button mini active" tableid="1-N">&nbsp;</div> -->
          <br>
          <div class="ui inverted button mini active" tableid="3-N">午</div>
          <br>
          <div class="ui inverted button mini active" tableid="3-5">5</div>
          <div class="ui inverted button mini active" tableid="3-6">6</div>
          <div class="ui inverted button mini active" tableid="3-7">7</div>
          <div class="ui inverted button mini active" tableid="3-8">8</div>
<!--           <div class="ui inverted button mini active" tableid="1-A">&nbsp;</div>
          <div class="ui inverted button mini active" tableid="1-B">&nbsp;</div>
          <div class="ui inverted button mini active" tableid="1-C">&nbsp;</div>
          <div class="ui inverted button mini active" tableid="1-D">&nbsp;</div> -->
        </div>
        <div class="sideber-course">
          <br>
          <p>星期四</p>
          <br>
          <div class="ui inverted button mini active" tableid="4-1">1</div>
          <div class="ui inverted button mini active" tableid="4-2">2</div>
          <div class="ui inverted button mini active" tableid="4-3">3</div>
          <div class="ui inverted button mini active" tableid="4-4">4</div>
          <!-- <div class="ui inverted button mini active" tableid="1-N">&nbsp;</div> -->
          <br>
          <div class="ui inverted button mini active" tableid="4-N">午</div>
          <br>
          <div class="ui inverted button mini active" tableid="4-5">5</div>
          <div class="ui inverted button mini active" tableid="4-6">6</div>
          <div class="ui inverted button mini active" tableid="4-7">7</div>
          <div class="ui inverted button mini active" tableid="4-8">8</div>
<!--           <div class="ui inverted button mini active" tableid="1-A">&nbsp;</div>
          <div class="ui inverted button mini active" tableid="1-B">&nbsp;</div>
          <div class="ui inverted button mini active" tableid="1-C">&nbsp;</div>
          <div class="ui inverted button mini active" tableid="1-D">&nbsp;</div> -->
        </div>
        <div class="sideber-course">
          <br>
          <p>星期五</p>
          <br>
          <div class="ui inverted button mini active" tableid="5-1">1</div>
          <div class="ui inverted button mini active" tableid="5-2">2</div>
          <div class="ui inverted button mini active" tableid="5-3">3</div>
          <div class="ui inverted button mini active" tableid="5-4">4</div>
          <!-- <div class="ui inverted button mini active" tableid="1-N">&nbsp;</div> -->
          <br>
          <div class="ui inverted button mini active" tableid="5-N">午</div>
          <br>
          <div class="ui inverted button mini active" tableid="5-5">5</div>
          <div class="ui inverted button mini active" tableid="5-6">6</div>
          <div class="ui inverted button mini active" tableid="5-7">7</div>
          <div class="ui inverted button mini active" tableid="5-8">8</div>
          <!-- <div class="ui inverted button mini active" tableid="1-A">&nbsp;</div>
          <div class="ui inverted button mini active" tableid="1-B">&nbsp;</div>
          <div class="ui inverted button mini active" tableid="1-C">&nbsp;</div>
          <div class="ui inverted button mini active" tableid="1-D">&nbsp;</div> -->
        </div>
      </div>
      <br>
      <div style="display: flex; justify-content: center; margin-left: 0%;">
        <div class="ui inverted button red" id="tableSelect" >全選/全部清除</div>
        <div class="ui inverted button blue" id="sendTable" >完成選擇</div>
      </div>
   </div>

</div>
